<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
  </ngx-spinner>
<ngb-alert type="danger" *ngIf="error" [innerHtml]="error"></ngb-alert>
<app-eu-pey-money-add-amount-form 
*ngIf="!transaction" 
title="Ingresar Dinero > Depósito"
description="Elegí el monto que deseas ingresar"
[validate]="true"
[buttonLabel]="'Continuar'"
(continue)="sendTransaction($event)">
</app-eu-pey-money-add-amount-form>
<div *ngIf="transaction">
  <div class="top">
    <div class="row">
      <div class="heading d-flex align-items-center">
        <span class="icon-Iconos-03"></span> <h2 > Ingresar Dinero: Depósito</h2>
      </div>
    </div>
    <div class="row mb-3" *ngIf="transaction.paymentCode">
    
          <p>Te generamos un código de pago.<br/>
           <!-- Muéstralo en una sucursal de Pago Fácil o Rapipago y dile cuánto dinero quieres ingresar.--></p>
        
    </div>
    <div class="wallet-conteiner mb-2" *ngIf="transaction.paymentCode">
        <div class="ingresarDinero ingresarDineroEfectivo justify-content-center d-flex col-xs-12 col-sm-9">
          <div class="row">
            <div class="col-12">
              <p class="text-center">Código de Pago</p>
              <p class="text-center"><strong class="ingresarDineroEfectivo">{{transaction.paymentCode}}</strong></p>
            </div>
          </div>
        </div>
      </div>    
<!--<div class="row TopTitle">
      <div class="col-6">
        <p>Acercate a un cajero de tu banco y sigue los siguientes pasos:</p>
      </div>
    </div>
  </div>
  <div class="wallet-conteiner mb-2">
    <div class="ingresarDinero">
      <div class="row">
        <div class="col-12">
          <ol>
            <li>Ingresa a <strong>Pagos</strong></li>
            <li>Pago de <strong>Impuestos y Servicios</strong></li>
            <li>Rubro <strong>Cobranzas</strong></li>
            <li>Código de Link de pagos: <strong>000000000</strong></li>
            <li>Empresa <strong>PeyGold</strong></li>
            <li>Concepto: <strong>PG: INGRESO</strong></li>
            <li>Referencia para abonar: <strong>000000000</strong></li>
          </ol>
        </div>
      </div>
    </div>
  </div> -->
</div>
