.MessageBox {
  width: 45vw;
  margin: 25px auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.MessageBox .statusBox img {
  width: 86px;
  height: 86px;
  -webkit-box-shadow: 0px 0px 15px #28a745;
          box-shadow: 0px 0px 15px #28a745;
  display: block;
  margin: 10px auto;
  border-radius: 50px;
}

.MessageBox p {
  font-size: 15px;
  color: #828282;
  line-height: 20px;
}

.ActionBtns {
  width: 45vw;
  margin: 20px auto 20px auto;
  text-align: center;
}

.ActionBtns button, a {
  display: inline-block;
}