<div *ngIf="detailedTransaction">
    <div class="DataDetail">
        <table class="responsive w-100">
            <tr>
                <td class="col-6"><span class="color-blue" [innerHtml]="'Operación '+ detailedTransaction.id"></span></td>
                <td class="col-6 text-right"><span class="color-blue" [innerHtml]="detailedTransaction.createdAt | date:medium"></span></td>
            </tr>
        </table>
    </div>
    <div class="DataDetail">
        <table class="responsive w-100">
            <tr>
                <td class="col-8">Importe base</td>
                <td class="col-4 text-right">{{ detailedTransaction.type.coin }}&nbsp;{{detailedTransaction.amount+detailedTransaction.commissionAmmount | number:'1.2'}}</td>
            </tr>
            <tr *ngFor="let detail of detailedTransaction.detailsTransaction">
                <td class="col-8" *ngIf="detail.generalChargeCredit">{{detail.generalChargeCredit.label}}</td>
                <td class="col-8" *ngIf="detail.provinceChargeCredit">{{detail.provinceChargeCredit.label}}</td>
                <td class="col-4 text-right">$&nbsp;{{(detail.amount) | number:'1.2'}}</td>
            </tr>
        </table>
    </div>
    <div class="DataDetail">
        <table class="responsive w-100 totalAmount">
            <tr>
                <td class="col-8"><strong>Total recibido</strong></td>
                <td class="col-4 text-right"><strong class="color-blue">$&nbsp;{{detailedTransaction.totalAmount| number:'1.2'}}</strong></td>
            </tr>
        </table>
    </div>
    <div class="FooterDetail">
        <div class="Topfooter border-bottom">
            <p class="text-center">Contraparte</p>
            <div class="RoundedLetter" [innerHtml]="detailedTransaction.receiver.initials"></div>
            <div class="DataName text-center">
                <h4 class="color-blue" [innerHtml]="detailedTransaction.receiver.initials"></h4>
                <p [innerHtml]="detailedTransaction.receiver.email"></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottomFooter">
            <div>
                <p class="text-center" [innerHtml]="detailedTransaction.messages"></p>
            </div>
        </div>
    </div>
</div>
