<div *ngIf="detailedTransaction">
    <div class="DataDetail">
        <table class="responsive w-100">
            <tr>
                <td class="col-6"><span class="color-blue">Operación 123456789</span></td>
                <td class="col-6 text-right"><span class="color-blue">1 de Septiembre 14:18hs</span></td>
            </tr>
        </table>
    </div>
    <div class="DataDetail">
        <table class="responsive w-100">
            <tr>
                <td class="col-8">Importe cobrado</td>
                <td class="col-4 text-right">P$G 1.520,25</td>
            </tr>
            <tr>
                <td class="col-8">Comisión de PeyGold</td>
                <td class="col-4 text-right">-$ 100</td>
            </tr>
            <tr>
                <td class="col-8">Impuesto al Valor Agregado (IVA)</td>
                <td class="col-4 text-right">-$ 21</td>
            </tr>
            <tr>
                <td class="col-8">Retención del IVA</td>
                <td class="col-4 text-right">-$ 4,41</td>
            </tr>
            <tr>
                <td class="col-8">Retención de IIBB</td>
                <td class="col-4 text-right">-$ 5</td>
            </tr>
        </table>
    </div>
    <div class="DataDetail">
        <table class="responsive w-100 totalAmount">
            <tr>
                <td class="col-8"><strong>Total recibido</strong></td>
                <td class="col-4 text-right"><strong class="color-blue">$ 1.390,14</strong></td>
            </tr>
        </table>
    </div>
    <div class="FooterDetail">
        <div class="Topfooter border-bottom">
            <p class="text-center">Contraparte</p>
            <div class="RoundedLetter">P</div>
            <div class="DataName text-center">
                <h4 class="color-blue">Paula Navarro</h4>
                <p>mpaulanavarro@gmail.com</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottomFooter">
            <div>
                <p class="text-center">Envío de dinero por venta de producto</p>
            </div>
        </div>
    </div>
</div>
