/*colores */
@import "colors.scss";
/*colores */

.white-container-wrapper .TopTitle {
  height: auto;
  p {
    padding-left: 15px;
    font-size: 15px;
    line-height: 18px;
  }
}

.btn-blue {
  display: block;
  background-color: $p-blue;
  width: 180px;
  height: 40px;
  text-align: center;
  line-height: 16px;
  color: white !important;
  font-size: 13px;
  border-radius: 50px;
  line-height: 36px !important;
  font-weight: 400 !important;
  opacity: 1 !important;
  margin: 10px auto;
}
.btn-blue-border {
  display: block;
  border: 1px solid $p-blue;
  width: 180px;
  height: 40px;
  text-align: center;
  line-height: 16px;
  color: $p-blue !important;
  font-size: 13px;
  border-radius: 50px;
  line-height: 36px !important;
  font-weight: 400 !important;
  opacity: 1 !important;
  margin: 10px auto;
}
.actionForm {

  display: block;
  text-align: right;
 
  margin: 10px auto;
  .btn-blue {
    float: right;
    &:after {
      clear: both;
    }
  }
}
.ConfirmDebito {
  .btn-blue {
    display: inline-block;
    vertical-align: middle;
  }
  .btn-blue-border {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}
.DineroIngresado {
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  width: 40vw;
  margin-top: 5vh;
  text-align: center;
  .SuccessWhite {
    box-shadow: 1px 1px 20px green;
    border-radius: 50px;
  }
  h2 {
    color: $p-dark-grey;
  }
  p {
    color: $p-dark-grey;
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 667px) {
  .ConfirmDebito .btn-blue-border {
    margin-right: 0;

}

  .ingresarDinero {

    .row {

      display: flex;
      flex-direction: column;

     .col {

      border:0
     }

    }
  }
}