/*
 * Layout
 */

body {
 
  background: linear-gradient(130deg, #4853a0 26%, #3575ba 51%, #4398d4 100%);
  background-attachment: fixed
}

button:disabled {
  opacity: 0.5;
  cursor: pointer;
}

#main-div {
  height: 100%;
}

.color-white {
  color: white !important;
}

.ShowDetails {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 60000000;
  display: none;
}

/**
 * Forms
 */
form {
  width: 100%;
}

.form-control.ng-invalid,
.form-control.ng-invalid:focus,
.form-control-white.ng-invalid,
.form-control-white.ng-invalid:focus,
ng-select.ng-invalid
{
  &.ng-dirty, &.ng-dirty:focus {
    border: solid 2px rgba(158, 14, 0, 0.83) !important;
    border-radius: 0.4rem !important;
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.25) !important;
  }
}

label.ng-invalid {
  color: rgba(158, 14, 0, 0.83);
  font-weight: bold;
}

.has-float-label input, .has-float-label select {
  margin-bottom: 0px;
}

.invalid-feedback {
  display: block;
  text-align: left;
}

.input-line {
  outline: 0 !important;
  border-width: 0 0 1px !important;
  border-color: #868686!important;
  background: none !important;
  position: relative !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  font-style: italic !important;
  text-align: center !important;
  border-bottom: solid 1px grey !important;
  line-height: 2 !important;
  border-radius: 0 !important;
  width: 100% !important;
  box-shadow: none !important;
  background: none !important;
  background: transparent!important;
}

.input-line:focus {
  border-bottom-width: 2px !important;
  border-color: $p-blue !important;
  color: $p-blue !important;
}

/**
 *Ng Select
 */

ng-select {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding: 0px !important;

  .ng-select-container {
    border: 0px !important;
    padding: 0px !important;
    height: 100% !important;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;

    .ng-placeholder {
      margin-top: 0px;
    }

    :hover {
      box-shadow: 0 0px 0 !important;
    }

  }

  .ng-select .ng-select-container:hover {
    box-shadow: 0 0px 0 rgba(0,0,0,0.0) !important;
  }

  .ng-arrow-wrapper {
    display: none;
  }

  .ng-clear-wrapper {
    margin-right: 20px !important;
    margin-top: 2px !important;
  }
}

.input-container {
  input {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6) !important;
    border-radius: 0.4rem !important;
    height: 52px !important;
  }

  .material-icons{
    margin-top: 8px;
  }
}


/**
 * Images
 */
.image-disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.sin-movimientos {
	span {
		&:first-of-type {
			font-size: 19px;
			font-weight: 600;
			margin-bottom: 10px;
		}
	}
}

