/* formato general */

/*colores */
@import "colors";
/*colores */

a {
  text-decoration: none!important;

}

.title-white {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #fff;
}

/* formato general */

.logo-login-img {

  height: 55px;

}

.login-wrapper {
  max-width: 100%;
  height: 100vh;
  width: 100%;
}

.container-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.container-redes p {
  color:$p-grey-text;

}

.register a{

  font-size: 13px;
  color: white!important;

}

.border-button {

  border-radius: .9rem;
  border: solid 1px $p-dark-grey;
  padding: .3rem 2rem .3rem 2rem;

}


.social-media-ops-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 3rem !important;
  z-index: 5;

  box-shadow: inset -8px 0 10px -6px #0000008a;

}

.social-media-ops-container > div > div > h2 {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 24px;
}
.social-media-ops-container > div > div > p {
  line-height: 1.5;
  color: #a2a3a2;
}
.social-media-ops-container > div > div > img {
  width: 100%;
  height: 325px;
  margin-top: 1rem;
}
.social-media-ops-container a > img {
  width: 16px;
  height: 16px;
  margin-left: 0.65rem;
  margin-right: 0.65rem;
  margin-bottom: 0.5rem;
}
.login-input-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.login-input-container .link-forgotten-pass {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}
.login-input-container .link-forgotten-pass:hover {
  color: #15eeb7;
}

.login-register-links {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 1px;
}
.login-register-links a {
  font-weight: 600;
}
.login-register-links button {
  height: 40px;
}
.login-pg-img {
  width: 250px;
  height: 150px;
  margin-bottom: -2rem;
}
.login-input-container .btn-outline-status {
  width: 100%;
  margin-top: 1rem;
  font-weight: 500;
}
.login-input-container .input-text-login {
  width: 100%;
  height: 40px;
  border: none;
  background-color: rgba(54, 159, 230, 0.75);
  padding-left: 1rem;
  border-radius: 30px;
  font-size: 15px;
  color: #fff;
  outline: none;
  font-weight: 500;
}
.login-input-container .input-text-login::placeholder {
  color: rgb(153, 195, 231);
  font-size: 15px;
  font-weight: 500;
}
.recover-password-inputs .input-text-login {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #fff;
  padding-left: 1rem;
  border-radius: 30px;
  font-size: 15px;
  color: #000;
  outline: none;
  font-weight: 500;
}
.recover-password-inputs .input-text-login::placeholder {
  font-size: 15px;
  font-weight: 500;
}
.login-cont .btn-custom-pp {
  margin-top: 1rem;
  width: 100%;
  height: 40px;
  font-weight: 500;
}
.recover-password-container {
  height: 100vh;
  background: url("~src/assets/images/bg-login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recover-password-container > div {
  width: 32.5%;
}
.recover-password-container .recover-password-inputs {
  background-image: linear-gradient(to right, #373c68, #146283);
  border-radius: 8px;
  padding: 2.5rem 3rem;
}
.recover-password-container .recover-pass-text {
  color: #fff;
  text-align: center;
}
.recover-password-container .recover-pass-text h5 {
  font-weight: 600;
  font-size: 21px;
}
.recover-password-container .recover-pass-text p {
  font-size: 14px;
  color: #a5b5e4;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 35px;
}
.recover-password-container .btn-custom-success {
  width: 100%;
  margin-top: 1.5rem;
  font-weight: 500;
}


/* botones */

.button-white{
  font-size: 16px;
  color:$p-blue!important;
  font-weight: 700;
  background:#fff ;
  padding: .6rem 3.7rem .6rem 3.7rem;
  border-radius: 2rem;
  border:solid 2px #fff;
  text-align: center;
  &:hover {
    background: none;
    border:solid 2px #fff;
    color: #fff!important;

  }
}

/*.login-form {
   label {
    input[type=text], input[type=email], input[type=password], input[type=number]{
  letter-spacing: .02rem;
  color:#fff!important;
  font-style: italic;
  font-size: 13px;
  border: 1px solid #fff!important;
  font-weight: 600;
  text-decoration: none;
  background: rgba(255,255,255,0.05)!important;
  &::-webkit-input-placeholder { color:  #fff!important; font-weight: 400; } 
  &:-moz-placeholder { color:  #fff; font-weight: 400; }  
  &::-moz-placeholder { color:  #fff; font-weight: 400; }  
  &:-ms-input-placeholder { color:  #fff; font-weight: 400; }  
  &::-ms-input-placeholder { color:  #fff; font-weight: 400;}
}
}
}*/
.top-register {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  a {
    font-size: 13px;
    text-decoration: none;
    color:#fff;
  }

  a:hover {
    color:#fff;
  }
}

.recordar-password {

  display:flex;
  justify-content: space-between;
  width: 100%;
  a {
    font-size: 13px;
    text-decoration: none;
    color:#fff;
  }

  a:hover {
    color:#fff;
  }
}

.container-form-login {

  width:60%;
}

.input-group-column {

  display:flex;
  justify-content: space-between;

  & >.has-float-label {

    width: calc(50% - 10px);
  }

  & >.dropdown {

    width: calc(50% - 10px);
  }

}


.navbar-gradient {
  top:0;
  position: fixed;
  width:100%;
  background: rgba(72,82,160,1);
  background: -moz-linear-gradient(left, rgba(72,82,160,1) 0%, rgba(53,117,186,1) 52%, rgba(67,152,212,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72,82,160,1)), color-stop(52%, rgba(53,117,186,1)), color-stop(100%, rgba(67,152,212,1)));
  background: -webkit-linear-gradient(left, rgba(72,82,160,1) 0%, rgba(53,117,186,1) 52%, rgba(67,152,212,1) 100%);
  background: -o-linear-gradient(left, rgba(72,82,160,1) 0%, rgba(53,117,186,1) 52%, rgba(67,152,212,1) 100%);
  background: -ms-linear-gradient(left, rgba(72,82,160,1) 0%, rgba(53,117,186,1) 52%, rgba(67,152,212,1) 100%);
  background: linear-gradient(to right, rgba(72,82,160,1) 0%, rgba(53,117,186,1) 52%, rgba(67,152,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4852a0', endColorstr='#4398d4', GradientType=1 );
  height:52px;
  padding:0px 20px;

  a {
    color:#fff;
  }

  a:hover {
    color:#fff;
  }

  a.btn-white{
    background:white;
    width:130px;
    height:30px;
    border-radius:50px;
    line-height:14px;
    color:$p-blue;
    text-align:center;
    padding: .5rem 1.4rem .5rem 1.4rem;

  }
}
.navbar-gradient a img {
  width: 173px;
  height: 29px;
}

#img-exito {

  width: 100%;
  top: 2px;
  z-index: -1;
  position: absolute;
  height: auto;
}

.bg-exito {
  min-height:100vh;
  /*background: url("~src/assets/images/backgroundYPersonas.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:auto;*/

}

.alertMessage span {
  color: #9e0e00;
  font-size: 13px;
  line-height: 20px;}


article {
  background-color: #F2F2F2;}

.token {

  letter-spacing: 10px
}
@media screen and (max-width: 1150.98px) {

}


@media screen and (max-width: 992px) {

  .social-media-ops-container {
    display: none;
  }

  #top-navbar-register  {

    width: 100%

  }

  .recover-password-container > div {
    width: 60%;
  }

  .title-white {

    text-align: center;
  }

  .has-float-label, .dropdown, .dropdown .select {

    margin-left: 0!important;
    margin-right: 0!important;

  }
  .input-group-column {

    flex-direction: column;

    & >.has-float-label {

      width: 100%;
    }

    & >.dropdown {

      width: 100%;
    }
  }

  .container-form-login {

    width: 100%!important;
  }
}

/*Success*/

.successIcon {
  box-shadow: 0px 0px 15px #63d2a9b8;
  border-radius: 50px;
}

.successText {

  span {

    color:#828282;
    font-weight: 500;
  }
}

@media screen and (max-width: 650.98px) {

  .recordar-password {
    flex-direction: column;
    align-items: center;

    a {
      margin-top: 15px;

    }

  }

  .top-register {
    justify-content: center;
    flex-direction: column;
    a {
      margin-right:0!important;
      margin-top:15px;
    }
  }

  .login-pg-img {
    width: 175px;
    height: 100px;
    margin-bottom: -1rem;
  }
  .login-input-container > div {
    width: 90%;
  }
  .login-register-links {
    bottom: 42px;
  }
  .recover-password-container > div {
    width: 100%;
  }
  .recover-password-container .recover-password-inputs {
    padding: 1.25rem 1.5rem;
  }

  .container-login{
    width: 100%;

  }

  .logo-login-img {
    width: 50%;

  }
  .bg-exito {
    background-size: 240%;
    min-height: 120vh;
  }

  .navbar-gradient > .top-nav > div {

    display:none!important;
  }
}
