input.comercios-km {
	height: 26px;
	display: flex;
	width: 90px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.btn-comercios-km {
    margin-bottom: 0!important;
    height: 26px;
    border-top-left-radius: 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
	border-bottom-left-radius: 0;
	background-color: #3575BA;
	color: white;
	width: 35px;
}

.btn-comercios-km.fa-search:before {
	font-size: 13px;
}
.comercios-map {
	width: 100%;
	height: 420px;
	background-color: grey;
}
ul.comercios-row {
	width: 100%;
	list-style: none;
	padding: 0;
	display: flex;
	li {
		a {
			flex-direction: column;
			display: flex;
			cursor: pointer;
			padding: 1rem 1rem 1rem 0rem;
			span {
				&:first-of-type {
					font-weight: 600;
				}
				color: #bdbdbd;
			}
		}
		a.active {
			border-bottom: solid 2px #3575BA;
			span {
				&:first-of-type {
					color: #333333;
				}
				&:nth-of-type(2) {
					color: #828282;
				}
				&:nth-of-type(3) {
					color: #828282;
				}
			}
		}
	}
}
.comercios-arrow {
	display: flex;
	align-items: center;
	img {
		transform: rotate(-90deg);
		cursor: pointer;
	}
}
.map-container {
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.33);
	border-radius: .5rem;
	background-color: white;
}
