.BoxDetails.Actividad {
	.modal-content-actividad {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		border-radius: 0;
		border: none;
		ul {
			list-style: none;
			text-decoration: none;
			padding-left: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: solid 1px #80808063;
			margin-bottom: 0;
			li {
				display: flex;
				justify-content: space-between;
				width: 100%;
				align-items: center;
				.circle {
					height: 70px;
					width: 70px;
					background: linear-gradient(to right, #4852a0 0%, #3575ba 52%, #4398d4 100%);
					align-items: center;
					display: flex;
					justify-content: center;
					font-size: 29px;
					border-radius: 100%;
					font-style: normal;
					color: #fff;
					font-weight: 500;
					text-align: center;
					margin-bottom: 10px;
				}
			}
		}
		ul.operation-date {
			li {
				span {
					color: #3575BA;
					font-size: 13px;
				}
			}
		}
		ul.user-info-modal {
			li {
				span {
					&:first-of-type {
						font-weight: 700;
						color: #3575BA;
						font-size: 14px;
					}
					&:nth-of-type(2) {
						color: #333333;
						font-size: 12px;
					}
				}
			}
		}
		ul.amount-detail {
			li {
				span {
					&:first-of-type {
						font-weight: 700;
						color: #333333;
					}
					&:nth-of-type(2) {
						font-weight: 700;
						color: #3575BA;
						font-size: 26px;
					}
				}
			}
        }
        
      /*TARJETA*/  
		ul.card-info-modal {
			li {
				span {
					&:first-of-type {
						color: #333333;
						font-size: 12px;
					}
					&:nth-of-type(2) {
						color: #333333;
						font-size: 14px;
						text-transform: uppercase;
					}
				}
			}
        }
       
        /*ul.user-info-modal {
            li {
                span {
                    font-size: 13px;
                    &:nth-of-type(2) {
                        font-weight: 600;
                    }
                }
                &:first-of-type {
                    span {
                        font-weight: 600;
                    }
                }
            }
        }*/
        ul.envio-info-modal {
            li {
                span {
                    font-size: 13px;
                    &:nth-of-type(2) {
                        font-weight: 600;
                    }
                }
                &:first-of-type {
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        ul.pago-detail {
            li {
                span {
                    font-size: 13px;
                    &:nth-of-type(2) {
                        font-weight: 600;
                    }
                }
                &:first-of-type {
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
       
     ul.total-amount-detail {
            li {
                span {
                    font-size: 13px;
                    &:first-of-type {
                        font-weight: 600;
                    }
                    &:nth-of-type(2) {
                        font-weight: 700;
                        color: #3575BA;
                        font-size: 26px;
                    }
                }
            }
        }    

	}
}