
.account-authentication {
	>div {
		&:nth-of-type(3) {
			font-size: 13px;
			>a {
				color: #3575BA;
				cursor: pointer;
				margin-left: 5px;
			}
		}
	}
	
}

.account-authentication > div > input,
.account-authentication > div > input:focus{
	font-size: 22px !important;
	color: #495057;
	font-weight: 600!important;
}


.reset-pass {
	font-size: 22px !important;
}

form.reset-pass {
	.form-check {
		border-top: solid 1px #80808038;
		padding-top: 15px;
		padding-bottom: 15px;
		&:nth-of-type(2) {
			border-bottom: solid 1px #80808038;
		}
	}
	label {
		font-size: 14px;
		font-weight: 600;
		display: flex;
		flex-direction: column;
		span {
			margin-top: 5px;
			font-size: 14px;
			font-weight: 400;
		}
	}
}
