article.authentication-two-steps {
	background-color: #F2F2F2;
}
.account-authentication {
	>div {
		&:nth-of-type(3) {
			font-size: 13px;
			>a {
				color: #3575BA;
				cursor: pointer;
				margin-left: 5px;
			}
		}
	}
}
.alertMessage {
	span {
		color: #9e0e00;
		font-size: 13px;
		line-height: 20px;
	}
}
.reset-pass {
	font-size: 22px !important;
}
.token {
	letter-spacing: 10px;
}
form.reset-pass {
	.form-check {
		border-top: solid 1px #80808038;
		padding-top: 15px;
		padding-bottom: 15px;
		&:nth-of-type(2) {
			border-bottom: solid 1px #80808038;
		}
	}
	label {
		font-size: 14px;
		font-weight: 600;
		display: flex;
		flex-direction: column;
		span {
			margin-top: 5px;
			font-size: 14px;
			font-weight: 400;
		}
	}
}
