@import "colors";

.bgDark {
  background: #333333;
}
#main-div {
 /*  .Export {
   margin-left: 0px;
  }*/

  .TopTitle {
    height: auto;
    /*p {
      padding-left: 40px;
    }*/
  }
  .top {
    .btn-blue-border {
      width: 136px;
      height: 27px;
      line-height: 0!important;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .FiltrarOrdenar {
      margin-right: 10px;
    }
  }
}
.tablaReportes {
  p {
    font-size: 14px;
  }
  .DownFiltrarOrdenar {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    &:last-child {
      &:after {
        clear: both;
        display: block;
        content: " ";
      }
    }
    .Export {
      width: 200px;
      .DownExport {
        
          
        & > ul > li {
          cursor: pointer;
          padding: 8px 10px;
          padding:10px;
          &:hover {
            color: #3575ba;
            font-weight: 600;
            background: rgba(53, 117, 186, 0.15)

          }
        }



        .formFiltrarDown {
          padding: 10px;
          input {
            width: 100%;
            margin: 10px auto;
            height: 30px;
            border-radius: 50px;
            display: block;
            box-shadow: none;
            border: 1px solid #bdbdbd;
            text-align: center;
            font-style: normal;
            color: #828282;
            font-size: 13px;
          }
          .btn-blue {
            width: 50%;
            height: 30px;
            display: block;
            margin: auto;
            line-height: 0!important;
          }
        }
      }
      
    }
    
  }
}

.Certificado {
  width: 50vw;
  margin: 20px auto;
  background-color: white;
  padding: 10px 20px;
  .logo {
    width: 200px;
    margin-bottom: 10px;
  }
  .container {
    border: 1px solid black;
    padding: 30px;
    margin: 10px auto;
    background: white;
  }
  p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  .boxCertificado {
    height: 35px;
    background-color: #c8c8c8;
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    p {
      line-height: 35px;
      color: #333;
      font-weight: 700;
    }
  }
  table {
    font-size: 13px;
    tr {
      td {
        &:first-child {
          width: 55%;
        }
      }
    }
    .boxCertificado {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .CertificadoFooter {
    margin-top: 50px;
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
    .boxFooterCertificado {
      float: right;
      width: 30%;
      img {
        margin-bottom: 20px;
      }
    }
  }
}

.icon-Security {
  background-image: url("/assets/images/security.png");
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
}
h2 {
  margin: 0px;
  span {
    color: $p-blue;
    font-size: 20px;
    font-weight: 400;
  }
 }   
.btn-blue-border {
  border: 1px solid $p-blue;
  background: transparent;
  width: 178px;
  height: 41px;
  color: $p-blue;
  text-align: center;
  border-radius: 50px;
  line-height: 35px;
  font-size: 13px;
  &:hover {
    background-color: $p-blue;
    color: white!important;
  }
}
.icon-reportes {
  background: url("/assets/images/reportes.svg");
  width: 23px;
  height: 23px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
}

/* Modal */

.detailTransaction {

.DataDetail:first-of-type  span {

  color: #3575BA;
}

.DataDetail .totalAmount tr td:first-of-type strong {

  font-weight: 700;
}
.DataDetail .totalAmount  tr td:nth-of-type(2) strong {
  color: #3575BA;
  font-weight: 700;
  font-size: 24px;
}


}