<div class="row" id="body-row">
  <div class="col login-wrapper">
    <!-- Login container -->
    <main class="row">
      <!-- Login container -->
      <!-- container for elements -->
      <div class="col-lg-4 social-media-ops-container bg-white">
        <div>
          <div class="container-redes">
            <h2>¡Seguinos en Redes Sociales!</h2>
            <p class="text-center">
              No solo somos una multiplataforma, tambien nos encontramos cerca tuyo en cualquier momento que nos necesites.</p>
            <p class="text-center">¡Seguinos en Redes Sociales!
            </p>
          </div>
          <div>
            <img src="assets/images/ilustracion-redes-sociales-login.svg" alt=""/>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <a href="#">
              <i class="icon-facebook fs-22 mr-4"></i>
            </a>
            <a href="#">
              <i class="icon-linkedin fs-22 mr-4"></i>
            </a>
            <a href="#">
              <i class="icon-twitter fs-22 mr-4"></i>
            </a>
            <a href="#">
              <i class="icon-instagram fs-22 mr-4"></i>
            </a>

          </div>
        </div>
      </div>
      <!-- container for elements -->
      <div class="col-lg-8 login-input-container">
        <div class="col-lg-11 d-flex flex-column align-items-center ">
          <div class="top-register pt-4 pb-4">
            <a href="#" class="mr-4">¿No tenes cuenta?</a>
            <a href="#" class="border-button border-white">Registrarse</a>
          </div>
          <div class="container-login pt-5">
            <div>
              <img src="assets/images/Isologotipo.svg" class="logo-login-img w-100 mb-4">
            </div>
            <div class="w-100 mb-4 mt-4">
              <input type="text" class="form-control-white w-100 shadow-none" placeholder="Tu correo electrónico">
            </div>
            <div class="w-100 mb-4">
              <input type="text" class="form-control-white w-100 shadow-none" placeholder="Contraseña">
            </div>
            <div class="recordar-password mb-5">
              <div class="checkbox-style-white">
                <input type="checkbox" name="tall-1" class="checkbox-white" id="tall-1">
                <label for="tall-1" class="fs-13 text-white">Recordarme</label>
              </div>
              <a href="insert-mail.html" class="fw-600">Olvidé mi contraseña</a>
            </div>
            <a href="" class="button-white">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
