<ngx-spinner>
  <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<div class="heading d-flex align-items-center">
<span class="icon-Iconos-05 fs-22"></span><h2>Pagar: Solicitudes de pago</h2>
</div>
<div class="filtros">
  <div class="row">
    <div class="col-sm-6 left">

    </div>
    <div class="col-sm-6 right">
      <form action="?" name="buscarFiltro">
        <input
          type="text"
          class="input-buscar"
          name="buscar"
          placeholder="Buscar"
        />
      </form>
    </div>
  </div>
</div>
<div class="content-center">
  <div class="grey-box d-flex flex-column w-100 mb-3">
    <div class="table colorchange">
      <div class="top-table-radiobtn"></div>
      <div class="pago-solicitud" *ngFor="let transaction of transactions;"
           [ngClass]="{'highlight': selectedTransaction && transaction.id === selectedTransaction.id}" (click)="setTransaction(transaction)">
        <div class="col">
          <span [innerHtml]="transaction.receiver.completeName"></span>
        </div>
        <div class="col text-right">
          <div class="d-flex flex-column">
            <span>{{transaction.symbol}}{{transaction.amount | currency:' ':'symbol':'1.0'}}</span>
            <span [innerHtml]="transaction.createdAt | date:'medium' "></span></div>
          <div>
            <input name="transaction" [(ngModel)]="selectedTransaction" [value]="transaction" type="radio" class="d-flex">

          </div>
        </div>
      </div>
    </div>
    <p class="text-center p-end">
      No hay más solicitudes para mostrar.
    </p>
  </div>
  <div class="row-buttons w-100 justify-content-end">
    <button type="button" data-toggle="modal" (click)="confirm(transactionStatus.Rejected)" class="solid-blue-button mr-2">Rechazar</button>
    <button type="button" data-toggle="modal" (click)="confirm(transactionStatus.Approved)" class="solid-blue-button ml-2">Pagar</button>
  </div>
</div>

<app-ui-pey-sidebar *ngIf="selectedTransaction && selectedTransaction.status"
                    (onClose)="cancel()"
                    [closed]="!confirmStatus"
                    [closeable]="!submitted"
                    title="Confirma la operación">
  <div class="modal-content p-4">
    <ul>
      <li>
        <span *ngIf="selectedTransaction.status.id === transactionStatus.Approved">Estas aceptando la siguiente solicitud:</span>
        <span *ngIf="selectedTransaction.status.id === transactionStatus.Rejected">Estas rechazando la siguiente solicitud:</span>
      </li>
      <li>
        <span>{{selectedTransaction.receiver.completeName}}</span>
        <span>-{{selectedTransaction.amount}}</span>
      </li>
    </ul>
    <div *ngIf="error" class="invalid-feedback text-center">
      <div [innerHtml]="error"></div>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="update()" class="solid-blue-button w-auto"
              [disabled]="submitted"
              [innerHtml]="selectedTransaction.status.id === transactionStatus.Approved ? 'Pagar' : 'Rechazar'">
      </button>
    </div>
  </div>
</app-ui-pey-sidebar>
