@import "~src/assets/scss/colors";

.editable-icon {
  background: white;
  height: 40px;
  top: 40px;
  box-shadow: 0px 0px 5px 1px #00000033;
  right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  border-radius: 100%;
}

  .fa-camera {
    color: $p-dark-grey;
    font-size: 22px;
    position: absolute;
    cursor: pointer;
  }

  input{
    display: none;
  }


.circle-user {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 14px;
  border-radius: 4em;
  background: linear-gradient(130deg,
    #4853a0 26%, #3575ba 51%,
    #4398d4 100%);

  span {
    color: #fff;
    font-size: 26px;
    vertical-align: middle;
  }

  &.sm {
    height: 45px;
    width: 45px;
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.user-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 14px;
  &.sm {
    height: 45px;
    width: 45px;
  }
}

