<div >
    <div class="d-flex flex-row align-items-center mb-4">
     <span class="icon-bell5 title"></span>
     <h2 class="mb-2">Notificaciones</h2>
    </div>
    <div *ngIf="notifications && notifications.data" class="notificaciones-container grey-box w-100">
        <div *ngFor="let notification of notifications.data"  class="p-3">
            <img class="notificaciones-img" [src]="notification.image">
            <div class="d-flex flex-column">
                <span [innerHtml]="notification.title"></span>
                <span [innerHtml]="notification.message"></span>
                <span [innerHtml]="notification.date | date:medium"></span>
            </div>
        </div>
    </div>
</div>