<div class="background-gradient">
    <div class="col" id="main-div">
        <div class="row bg-lines">
            <div class="col-lg-11 ml-auto mr-auto min-vh-100 p-5">
                <div class="d-flex flex-column align-items-center justify-content-start mt-5 h-100">
    
                    <p class="w-75 text-center text-white mb-5">Bienvenido al sistema de intranet de Peygold.<br> Elige una
                        opción del menú para comenzar con tu actividad</p>
                    <div>
                        <img src="assets/images/Isologotipo.svg" class="logo-login-img w-100 mb-4">
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>
