<div class="top">
  <div class="row TopTitle">
    <div class="heading d-flex align-items-center">
      <span class="icon-Iconos-03"></span> <h2 class="titleSecurity"> Ingresar Dinero</h2>
    </div>
  </div>
  <div class="row TopTitle">
    <div class="col-6">
      <p>Elegí cómo deseas recargar dinero</p>
    </div>
  </div>
</div>
<div class="wallet-conteiner mb-2">
  <div class="ingresarDinero">
    <div class="row">
      <div class="col">
        <a routerLink="#" class="text-center"><i class="IconIngresar Transferencia image-disabled"></i>Transferencia Bancaria</a>
      </div>
      <div class="col">
        <a  routerLink="#" class="text-center"><i class="IconIngresar Deposito image-disabled"></i>Depósito Bancario</a>
      </div>
      <div class="col">
        <a  [routerLink]="routes.money.add.credit_card.href" class="text-center"><i class="IconIngresar Tarjeta"></i>Tarjeta de Débito</a>
      </div>
      <div class="col">
        <a  routerLink="#" class="text-center"><i class="IconIngresar Efectivo image-disabled"></i>Efectivo</a>
      </div>
    </div>
  </div>
</div>
