<div class="top">
  <div class="row">
    <div class="heading d-flex align-items-center">
      <span class="icon-Iconos-03"></span> <h2> Ingresar Dinero</h2>
    </div>
  </div>
  <div class="row mb-3">
   
      <p>Elegí cómo deseas recargar dinero</p>
 
  </div>
</div>
<div class="wallet-conteiner mb-2">
  <div class="ingresarDinero">
    <div class="row">
      <div class="col">
        <a [routerLink]="routes.money.add.bank_transfer.href" class="text-center"><i class="IconIngresar Transferencia"></i>Transferencia Bancaria</a>
      </div>
      <div class="col">
        <a  [routerLink]="routes.money.add.bank_deposit.href" class="text-center"><i class="IconIngresar Deposito"></i>Depósito Bancario</a>
      </div>
      <div class="col">
        <a  [routerLink]="routes.money.add.credit_card.href" class="text-center"><i class="IconIngresar Tarjeta"></i>Tarjeta</a>
      </div>
      <div class="col">
        <a  [routerLink]="routes.money.add.cash.href" class="text-center"><i class="IconIngresar Efectivo"></i>Efectivo</a>
      </div>
    </div>
  </div>
</div>
