<div class="top">
  <div class="row TopTitle">
    <div class="col-6">
      <h2 class="titleSecurity"><span class="icon-Iconos-03"></span> Ingresar Dinero</h2>
    </div>
  </div>
  <div class="row TopTitle">
    <div class="col-6">
      <p>Elegí cómo deseas recargar dinero</p>
    </div>
  </div>
</div>
<div class="wallet-conteiner mb-2">
  <div class="ingresarDinero">
    <div class="row">
      <div class="col">
        <a [routerLink]="routes.money.add.bank_transfer.href" class="text-center"><span class="IconIngresar Transferencia"></span>Transferencia Bancaria</a>
      </div>
      <div class="col">
        <a  [routerLink]="routes.money.add.bank_deposit.href" class="text-center"><span class="IconIngresar Deposito"></span>Depósito Bancario</a>
      </div>
      <div class="col">
        <a  [routerLink]="routes.money.add.credit_card.href" class="text-center"><span class="IconIngresar Tarjeta"></span>Tarjeta de Débito</a>
      </div>
      <div class="col">
        <a  [routerLink]="routes.money.add.cash.href" class="text-center"><span class="IconIngresar Efectivo"></span>Efectivo</a>
      </div>
    </div>
  </div>
</div>
