.navbar-gradient .faq-toolbar ul li {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 13px;
 }
.navbar-gradient .faq-toolbar ul li a {
   color: #fff;
   cursor: pointer;
}

.navbar-gradient .faq-toolbar ul li a:hover {
    color: #fff;
    
 }


.questions-dropdown .dropbtn {

    color: white;
    font-size: 13px;
    border: none;
  }
  
  .questions-dropdown {
    position: relative;
    display: inline-block;
  }
  .questions-dropdown .chevron-down { 
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em; 
    transform: rotate(135deg);
    width: 0.45em;
    color: white;
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 2px;
 
  }
  .questions-dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 460px;
    width: 700px;
    z-index: 1;
    left: -570px;
  
  }
  .questions-dropdown .dropdown-content .inner-content {
    margin-top: 15px;
    background-color: #fff;
    min-width: 460px;
    width: 850px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -570px;
    border-radius: 0.7rem;
  }
  
  .questions-dropdown .dropdown-content .inner-content:before{
  position: absolute;
  content: "";
  display: block;
  right: -32px;
  z-index: 2;
  top: 5px;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;}

  .questions-dropdown .dropdown-content .inner-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .questions-dropdown .dropdown-content .inner-content a span:first-of-type {
      color: #3575BA;
      font-weight: 700;
      font-size: 13px;
      margin-bottom: 2px;
      letter-spacing: 0.01rem;
     
  }

  .questions-dropdown .dropdown-content .inner-content a span:nth-of-type(2) {
    font-size: 12px;
    letter-spacing: 0.01rem;
  }
  .questions-dropdown .dropdown-content a:hover {background-color: #e1eaf5;}
  
  .questions-dropdown:hover .dropdown-content {display: block;}


  
  /* User Tooltip */

  .user-toolbar-dropdown .dropbtn {

    color: white;
    font-size: 13px;
    border: none;
  }
  
  .user-toolbar-dropdown {
    position: relative;
    display: inline-block;
  }
  .user-toolbar-dropdown .chevron-down { 
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em; 
    transform: rotate(135deg);
    width: 0.45em;
    color: white;
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 2px;
 
  }
  .user-toolbar-dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    width: 200px;
    z-index: 1;
    left: -35px;
  
  }
  .user-toolbar-dropdown .dropdown-content .inner-content {
    margin-top: 5px;
    background-color: #fff;
    min-width: 200px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:  -35px;
    border-radius: 0.7rem;
  }
  
  .user-toolbar-dropdown .dropdown-content .inner-content:before{
  position: absolute;
  content: "";
  display: block;
  right: 44px;
  z-index: 2;
  top: -3px;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;}

  .user-toolbar-dropdown .dropdown-content .inner-content ul {
      list-style: none;
      padding-left: 0;
      width: 100%;
  }
  .user-toolbar-dropdown .dropdown-content .inner-content ul li {
 margin-right: 0!important;
}

  .user-toolbar-dropdown .dropdown-content .inner-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 13px;
  }
   .user-toolbar-dropdown .dropdown-content .inner-content a span:first-of-type {
      color: #3575BA;
      font-weight: 700;
      font-size: 13px;
      margin-bottom: 2px;
      letter-spacing: 0.01rem;
     
  }

  .user-toolbar-dropdown .dropdown-content .inner-content a span:nth-of-type(2) {
    font-size: 12px;
    letter-spacing: 0.01rem;
  }
  .user-toolbar-dropdown .dropdown-content a:hover {background-color: #e1eaf5;}
  
  .user-toolbar-dropdown:hover .dropdown-content {display: block;}
  
  