<div class="help-wrapper">
    <nav class="navbar-gradient shadow position-relative">
      <!-- Barra de navegacion superior -->
      <ul class="top-nav" *ngIf="routes">
        <li>
          <a [routerLink]="routes.home.href">
            <img src="/assets/images/Isologotipo.svg" alt=""/>
          </a>
        </li>
        <div class="faq-toolbar">
          <ul class="navbar-nav mr-auto d-flex flex-row">
            <li>
              <a >¿Como funciona?</a>
            </li>
            <li>
              <a>Beneficios y funcionalidades</a>
            </li> 
             <li>
                <div class="questions-dropdown">
                   <button class="dropbtn">Preguntas frecuentes</button><span class="chevron-down"></span>
                      <div class="dropdown-content">
                          <div class="inner-content pt-3 pb-3 row">
                           <div class="col-xs-12 col-sm-3 pr-0 pl-0">
                            <a>
                              <span>Seguridad</span>
                              <span>Descubre como protegemos tu cuenta y tu información sensible</span>
                            </a>
                           </div>
                           <div class="col-xs-12 col-sm-3 pr-0 pl-0">
                            <a>
                              <span>Mi Cuenta</span>
                              <span>Información para manejar tus datos y actualizarlos </span>
                            </a>
                           </div>
                           <div class="col-xs-12 col-sm-3 pr-0 pl-0">
                            <a>
                              <span>Peygold Créditos</span>
                              <span>Todo lo que tenes que saber de la moneda exclusiva de Peygold</span>
                            </a>
                           </div>
                           <div class="col-xs-12 col-sm-3 pr-0 pl-0">
                            <a>
                              <span>Tarjeta prepaga</span>
                              <span>Cómo pedir tu tarjeta y aprovechar los beneficios</span>
                            </a>
                           </div>      
                        </div>
                        </div>
                      </div>
                      <a class="faq-responsive d-none">Preguntas frecuentes</a>
                    </li> 
          </ul>
       </div>
        <div class="d-flex">
            <!--User Tooltip-->
            <li class="position-relative user-toolbar-dropdown">
              <button class="dropbtn d-flex justify-content-center align-items-center" id="cityclick">
                <div class="circle-user mr-2">
                  <span [innerHtml]="user.initials"></span>
                </div>  
                <span class="text-white" [innerHtml]="user.completeName"></span>
                <span class="chevron-down"></span>
              </button>
                <div class="dropdown-content">
                  <div class="inner-content pt-3 pb-3 row">
                    <ul>
                      <li>
                        <a [routerLink]="routes.home.href">Mi Cuenta</a>
                      </li>
                      <li>
                         <a routerLink="/logout" > Cerrar sesión</a>
   
                     </li>
                     </ul>
                  </div></div>
                
               <!--User Tooltip-->
              
            </li>                
          </div>
         </ul>
    </nav>
    <router-outlet></router-outlet>
   
<!--Footer-->

<footer class="footer-help">
  <div class="w-100 d-flex justify-content-between align-items-center pr-4 pl-4">
   
    <span>Copyright © 2020 Peygold S.A. </span>

     <nav class="d-flex  p-0">
      <ul class="footer-nav w-100">
        <li><a href="preguntas-frecuentes.html">Preguntas frecuentes</a></li>
        <li><a href="contactanos.html">Contacto</a></li>
        <li><a>Políticas de privacidad</a></li>
        <li><a>Términos de uso</a></li>
        <li><a>Ayuda</a></li>
      </ul>
      <ul class="social-media">
        <li><a><i class="icon-facebook"></i></a></li>
        <li><a><i class="icon-linkedin"></i></a></li>
        <li><a><i class="icon-twitter"></i></a></li>
        <li><a><i class="icon-instagram"></i></a></li>
      </ul>
    </nav>
  </div>
</footer>
</div>