<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<div class="top">
    <ngb-alert type="danger" *ngIf="error" [innerHtml]="error"></ngb-alert>
    <div class="row mb-3">
        <div class="col">
            <h2 class="titleSecurity"><span class="icon-reportes"></span>Reportes: Historial de transacciones</h2>
        </div>
    </div>
    <div class="content-center">
        <div class="filtros w-100">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div class="left">
                        <button class="btn btn-sm filtrarOrdenar">
                            Filtrar/Ordenar
                        </button>
                    </div>
                    <div class="form-group ml-2">
                        <div class="Export">
                            <a class="ExportBtn slide-toggle"><span class="ExportIcon"></span>Exportar como<span
                                    class="ChevronDown"></span></a>
                            <div class="DownExport slide-toggle-content">
                                <ul>
                                    <li><a (click)="export('csv')">.CSV</a></li>
                                    <li><a (click)="export('xlsx')">.XLSX</a></li>
                                    <li><a (click)="export('pdf')">.PDF</a></li>
                                    <li><a (click)="export('txt')">.TXT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <form>
                        <input id="inputFilter" type="text" class="inputSearch" name="filter" (keyup)="search($event)"
                            [(ngModel)]="filter" placeholder="Buscar" />
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="mb-2">
        <div class="tablaDatos tablaReportes">
            <div class="DownFilters">
                <form class="form-inline">
                    <div class="input-group">
                        <div class="boxSelect">
                            <a class="btn-dropDown stateDrop"><span>Todas las operaciones</span><i
                                    class="fa fa-chevron-right"></i></a>
                            <div class="downFecha stateDown">
                                <ul>
                                    <li id="allOriginRecharge" (click)="setFilterOriginRecharge('-1')"
                                        class="optionDate">Todas las
                                        operaciones</li>
                                    <li *ngFor="let originRecharge of originTransactionTypes" id="originRecharge.label"
                                        (click)="setFilterOriginRecharge(originRecharge.value)" class="optionDate"
                                        [innerHtml]="originRecharge.label"></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div>
                            <div class="boxSelect">
                                <a class="btn-dropDown stateDrop"><span>Todas las monedas</span><i
                                        class="fa fa-chevron-right"></i></a>
                                <div class="downFecha stateDown">
                                    <ul>
                                        <li id="allTransactionType" (click)="setFilterTransactionType('-1')"
                                            class="optionDate">Todas las
                                            monedas</li>
                                        <li *ngFor="let transactionType of transactionTypes" id="transactionType.label"
                                            (click)="setFilterTransactionType(transactionType.value)" class="optionDate"
                                            [innerHtml]="transactionType.label">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div>
                            <div class="boxSelect">
                                <a class="btn-dropDown stateDrop"><span>Hoy</span> <i
                                        class="fa fa-chevron-right"></i></a>
                                <div class="downFecha stateDown">
                                    <ul>
                                        <li (click)="setFilterRange(0)">Hoy</li>
                                        <li (click)="setFilterRange(1)">Ayer</li>
                                        <li (click)="setFilterRange(2)">Mes Pasado</li>
                                        <div class="dropdown-divider"></div>
                                        <form class="formFiltrarDown pl-3 pr-3" name="form" #rangeForm="ngForm"
                                            (ngSubmit)="rangeForm.form.valid?onSubmit():resetForm(rangeForm)"
                                            novalidate>
                                            <input id="sDInput" type="text" mask="00/00/0000"
                                                [dropSpecialCharacters]="false" name="sDate" [(ngModel)]="sDateInput"
                                                #sDate="ngModel" placeholder="Desde 05/08/2019" required />
                                            <div *ngIf="!sDate.pristine && sDate.invalid || rangeForm.submitted && sDate.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="sDate.errors.required">Campo es requerido</div>
                                            </div>
                                            <input id="eDInput" type="text" mask="00/00/0000"
                                                [dropSpecialCharacters]="false" name="eDate" [(ngModel)]="eDateInput"
                                                #eDate="ngModel" placeholder="Hasta 05/08/2019" required />
                                            <div *ngIf="!eDate.pristine && eDate.invalid || rangeForm.submitted && eDate.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="eDate.errors.required">Campo es requerido</div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <button id="btnSetRange" type="submit" class="btn-blue">Aceptar</button>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <table id="tableTransactions" class="table responsive" *ngIf="transactions && transactions.data">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Fecha</th>
                        <th scope="col" class="text-center">N° de operación</th>
                        <th scope="col" class="text-center">Tipo de operación</th>
                        <th scope="col" class="text-center">Importe</th>
                        <th scope="col" class="text-center">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions.data;">
                        <td>
                            <p class="text-center" [innerHtml]="transaction.createdAt | date:medium"></p>
                        </td>
                        <td>
                            <p class="text-center" [innerHtml]="transaction.id"></p>
                        </td>
                        <td>
                            <p class="text-center" [innerHtml]="transaction.originRecharge.label"></p>
                        </td>
                        <td>
                            <p class="text-center text-danger">
                                {{transaction.type.coin}}&nbsp;{{transaction.amount | number:'1.2'}}</p>
                        </td>
                        <td>
                            <p class="text-center">{{transaction.type.coin}}&nbsp;{{transaction.amount | number:'1.2'}}
                            </p>
                        </td>
                        <td class="text-center">
                            <div class="DropOptions toggleOptions">
                                <span class="options slide-toggle"></span>
                                <div class="OptionsDrop text-left slide-toggle-content">
                                    <form method="get" action="?">
                                        <button type="button" class="dropdown-item detalleCobro"
                                            (click)="showTransaction(transaction)">Ver detalle</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="!showPagination" class="text-center p-end">
                No hay registros para mostrar.
            </p>
        </div>
        <ngb-pagination *ngIf="showPagination" [collectionSize]="totalItems" [(page)]="page"
        (pageChange)="loadPage($event)">
    </ngb-pagination>
    </div>
</div>

<app-ui-pey-sidebar *ngIf="detailedTransaction" (onClose)="detailedTransaction = null" [closed]="!detailedTransaction"
    title="Detalles de la operación">
    <div *ngIf="detailedTransaction.originRecharge.value == '1'" class="modal-content pl-4 pr-4 pt-2">
        <ul class="operation-date">
            <li>
                <span [innerHtml]="'Solicitud #' +detailedTransaction.id"></span>
                <span [innerHtml]="detailedTransaction.createdAt | date:medium"></span>
            </li>
        </ul>

        <ul class="amount-detail">
            <li>
                <span>Pagaste</span>
                <span>{{detailedTransaction.type.coin}}&nbsp;{{detailedTransaction.amount | number:'1.2'}}</span>
            </li>
        </ul>

        <ul class="user-info-modal">
            <li class="d-flex justify-content-center flex-column align-items-center mt-4 mb-4">
                <p>Medio de pago</p>
                <i class="img-billetera-puntos"></i>
                <span>Billetera</span>
                <span>Peygold Créditos</span>
            </li>
        </ul>

        <ul class="user-info-modal">
            <li class="d-flex justify-content-center flex-column align-items-center mt-4 mb-4">
                <p>Contraparte</p>
                <i class="circle" [innerHtml]="detailedTransaction.receiver.initials"></i>
                <span [innerHtml]="detailedTransaction.receiver.completeName"></span>
                <span [innerHtml]="detailedTransaction.receiver.email"></span>
            </li>
        </ul>
        <div class="d-flex justify-content-center">
            <input [value]="detailedTransaction.messages" type="text" class="d-flex w-75 mt-2 mb-5" id="input-line" readonly />
        </div>
    </div>
    <div *ngIf="detailedTransaction.originRecharge.value == '6'" class="modal-content pl-4 pr-4 pt-2">
        <ul class="operation-date">
            <li>
                <span [innerHtml]="'Solicitud #' +detailedTransaction.id"></span>
                <span [innerHtml]="detailedTransaction.createdAt | date:medium"></span>
            </li>
        </ul>

        <ul class="list-detail">
            <li>
                <span>Importe cobrado</span>
                <span>{{detailedTransaction.type.coin}}&nbsp;{{detailedTransaction.amount | number:'1.2'}}</span>
            </li>
            <li>
                <span>Comisión de Peygold</span>
                <span>-$100</span>
            </li>
            <li>
                <span>Impuesto al valor agregado (IVA)</span>
                <span>-$21</span>
            </li>
            <li>
                <span>Retención del IVA</span>
                <span>-$4,41</span>
            </li>
            <li>
                <span>Retención del IIBB</span>
                <span>-$5</span>
            </li>
        </ul>
        <ul class="amount-detail">
            <li>
                <span>Total recibido</span>
                <span>P$G 1.250,55</span>
            </li>
        </ul>
        <ul class="user-info-modal">
            <li class="d-flex justify-content-center flex-column align-items-center mt-4 mb-4">
                <p>Medio de pago</p>
                <i class="img-tarjeta"></i>
                <span>Tarjeta de débito</span>
                <span>MASTERCARD</span>
            </li>
        </ul>
        <ul class="user-info-modal">
            <li class="d-flex justify-content-center flex-column align-items-center mt-4 mb-4">
                <p>Contraparte</p>
                <i class="circle" [innerHtml]="detailedTransaction.sender.initials"></i>
                <span [innerHtml]="detailedTransaction.sender.completeName"></span>
                <span [innerHtml]="detailedTransaction.sender.email"></span>
            </li>
        </ul>
        <div class="d-flex justify-content-center">
            <input [value]="detailedTransaction.messages" type="text" class="d-flex w-75 mt-2 mb-5"
                id="input-line" readonly />
        </div>

    </div>
</app-ui-pey-sidebar>