<div class="wallet-conteiner fl mb-2">
  <div class="grey-box col-xs-12 col-md-8 alertSuccesError p-5 mt-5 mb-5">
    <div class="alert-container">
        <img *ngIf="message.isSuccess" src="assets/images/confirmacion-blanco.svg" class="SuccessWhite mb-4" width="100" height="100"/>
        <img *ngIf="message.isError" src="assets/images/error-blanco.svg" class="ErrorWhite mb-4" width="100" height="100"/>

        <h2 *ngIf="message.title" [innerHtml]="message.title">Proceso exitoso</h2>
        <p *ngIf="message.value" [innerHtml]="message.value" class="text-center"></p>
      </div>
  </div>
</div>
<div class="actionForm align-items-end">

  <a *ngIf="!message.action" [routerLink]="home" class="btn-blue-border">Aceptar</a>
  <a *ngIf="message.action" [routerLink]="message.action" class="btn-blue-border">Aceptar</a>

</div>
