/*colores */
@import "~src/assets/scss/colors";
/*colores */

.venceTarjeta {
  span {
    color: white;
  }
}

.secNumberEx {
  span {
    color: white;
  }
}

form .actionForm .white-button-border {
  width: 165px;
}
