<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<ngb-alert type="danger" *ngIf="error" [innerHtml]="error"></ngb-alert>
<h2><span class="icon-Iconos-13 fs-22"></span>Remates: <span>Rematar mis créditos</span></h2>
<div *ngIf="peygoldCreditsToAuction && peygoldCreditsToAuction.length==0 && step==1">
    <div class="content-center">
        <div class="grey-box d-flex flex-column w-100">
            <div class="sin-remates d-flex justify-content-center align-items-center flex-column p-5">
                <img class="d-flex mb-3" src="/assets/images/new-icons/remate.svg" height="100" width="100">
                <h2 class="text-dark">No tienes saldo suficiente para iniciar un remate</h2>
                <span>Recibe o solicita P$C para poder comenzar un remate</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="peygoldCreditsToAuction && peygoldCreditsToAuction.length>0 && step==1">
    <p class="opening-text">Te mostraremos tus Peygolds Créditos disponibles según su vencimiento,
        selecciona el monto que deseas rematar
    </p>
    <div class="content-center">

        <div class="filtros w-100">
            <div class="d-flex justify-content-between">
                <div class="left">
                    <button class="btn btn-sm filtrarOrdenar">
                        Filtrar/Ordenar
                    </button>
                </div>
                <div class="right">
                    <form action="?" name="buscarFiltro">
                        <input type="text" class="input-buscar" name="buscar" placeholder="Buscar" />
                    </form>
                </div>
            </div>
        </div>
        <div class="content-center">
            <div class="grey-box d-flex flex-column w-100">
                <div class="DownFilters">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="boxSelect">
                                <a class="btn-dropDown stateDrop">Importe<i class="fa fa-chevron-right"></i></a>
                                <div class="downFecha stateDown">
                                    <ul>
                                        <li>
                                            <a href="#" class="optionDate">Mayor primero</a>
                                        </li>
                                        <li>
                                            <a href="#" class="optionDate">Menor primero</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div>
                                <div class="boxSelect">
                                    <a class="btn-dropDown stateDrop">Fecha <i class="fa fa-chevron-right"></i></a>
                                    <div class="downFecha stateDown">
                                        <ul>
                                            <li><a href="#" class="optionDate">Hoy</a></li>
                                            <li><a href="#" class="optionDate">Ayer</a></li>
                                            <li>
                                                <a href="#" class="optionDate">Mes Pasado</a>
                                            </li>
                                            <div class="dropdown-divider"></div>
                                            <li>
                                                <a href="#" class="btn">Desde 05/08/2019</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn">Desde 05/08/2019</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn btn-sm">Aceptar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table peygolds-disponibles">
                    <thead>
                        <tr>
                            <th scope="col">Año</th>
                            <th scope="col">Mes</th>
                            <th scope="col">Monto</th>
                            <th scope="col" width="20"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <tr *ngFor="let peygoldcredit of peygoldCreditsToAuction">
                            <td [innerHtml]="peygoldcredit.year"></td>
                            <td [innerHtml]="peygoldcredit.month"></td>
                            <td [innerHtml]="peygoldcredit.transaction.type.coin +''+ peygoldcredit.transaction.amount"></td>
                            <td width="20">
                                <div class="form-check">
                                    <input type="radio" value="option1" name="exampleRadios" id="exampleRadios1"
                                        class="d-flex form-check-input" (click)="selectPeygoldCredit(peygoldcredit)">
                                    <label class="form-check-label" for="exampleRadios1">
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <nav>
                  <ul class="pagination">
                   <!--	Here the JS Function Will Add the Rows -->
                            <li><a href="#" class="active"><span>1</span></a></li>  
                            <li><a href="#"><span>2</span></a></li>  
                            <li><a href="#"><span>3</span></a></li> 
                            <li><a href="#"><span>4</span></a></li> 
                            <li><a href="#"><span>5</span></a></li>
                            <li><a href="#">Siguiente &gt;</a></li>  
                  </ul>
                </nav>
              </div>
            <div class="d-flex justify-content-end w-100">
                <button class="solid-blue-button" (click)="continue()">Iniciar un remate</button>
            </div>

        </div>
    </div>
</div>

<div *ngIf="auction && step==2">
    <p class="opening-text">Te mostramos tu saldo disponible, indica el monto que deseas rematar</p>
    <form name="formTransaction" (ngSubmit)="formTransaction.form.valid && continue()" #formTransaction="ngForm"
        class="pt-4" novalidate>
        <div class="wallet-conteiner mb-2">
            <div class="col-xs-12 col-sm-9">
                <div class="ingresarDinero">
                    <div class="row">
                        <div class="w-100 pl-3 pr-3">
                        
                                <div class="auctionTransactionAmount text-center">
                                    <span>Saldo disponible:</span>
                                    <span>
                                      {{auction.transaction.type.coin}}
                                        {{auction.transaction.amount}}
                                    </span>
                                </div>

                               <!-- INPUT CORREGIDO-->

                                <div class="input-blue-text d-flex justify-content-center flex-column align-items-center">
                                    <input required type="text" type="text" placeholder="$0" class="col-xs-12 col-sm-6 form-control InputAmount"
                                           [prefix]="auction.transaction.type.coin | translate" mask="separator.2"
                                           thousandSeparator="." [min-value]="auction.transaction.type.minAmount"
                                           [max-value]="auction.transaction.amount" name="amount"
                                            [(ngModel)]="auction.transaction.amountToAuction" #amount="ngModel" required />
                                            <div *ngIf="!amount.pristine && amount.invalid || formTransaction.submitted && amount.errors"
                                            class="col-xs-12 col-sm-6 pr-0 pl-0 invalid-feedback text-left">
                                            <div *ngIf="amount.errors.required">Campo requerido
                                            </div>
                                            <div *ngIf="amount.errors.min">El valor mínimo para la transaccion es
                                                {{ auction.transaction.type.minAmount }}
                                            </div>
                                            <div *ngIf="amount.errors.max">El valor máximo a rematar es {{ auction.transaction.amount }}
                                            </div>
                                        </div>
                                  </div>

                            <!-- INPUT ANTERIOR-->
                           
                         <!--  <input required type="text" placeholder="$0"
                                class="form-control InputAmount w-100 text-center"
                                [prefix]="auction.transaction.type.coin | translate" mask="separator.2"
                                thousandSeparator="." [min-value]="auction.transaction.type.minAmount"
                                [max-value]="auction.transaction.amount" name="amount"
                                [(ngModel)]="auction.transaction.amountToAuction" #amount="ngModel" required />
                            <div *ngIf="!amount.pristine && amount.invalid || formTransaction.submitted && amount.errors"
                                class="col-xs-12 col-sm-6 pr-0 pl-0 invalid-feedback text-left">
                                <div *ngIf="amount.errors.required">Campo requerido
                                </div>
                                <div *ngIf="amount.errors.min">El valor mínimo para la transaccion es
                                    {{ auction.transaction.type.minAmount }}
                                </div>
                                <div *ngIf="amount.errors.max">El valor máximo a rematar es {{ auction.transaction.amount }}
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row-buttons justify-content-end mt-3">
                    <button type="submit" class="solid-blue-button">Continuar</button>
                </div>

            </div>
        </div>
    </form>
</div>

<div *ngIf="step==3">
    <p class="opening-text">Personaliza tus remates indicando que descuento quieres ofrecer y durante cuanto tiempo.
        A su vez puedes pausar y reactivar la publicación cuantas veces quieras
    </p>
    <form name="formConfigTransaction" #formConfigTransaction="ngForm"
        (ngSubmit)="formConfigTransaction.form.valid && saveAuction()" novalidate>
        <div class="rematar-puntos  pt-4 mb-2">
            <div class="grey-box d-flex flex-column align-items-center p-3 col-xs-12">
                <div class="amountToAuction amount d-flex flex-column mt-3 mb-3">
                    <span>Estas rematando</span>
                    <span>{{auction.transaction.type.coin}} {{auction.transaction.amountToAuction}}</span>
                </div>

                <div class="form-group col-md-6">
                    <label class="has-float-label w-100">
                        <input name="discount" [(ngModel)]="auction.discount" #discount="ngModel" type="text"
                            placeholder="Descuento ofrecido*" suffix="%" value="12%" mask="0*" class="d-flex w-100" required />
                        <span>Descuento ofrecido*</span>
                    </label>
                    <div *ngIf="!discount.pristine && discount.invalid || formConfigTransaction.submitted && discount.errors"
                        class="invalid-feedback">
                        <div *ngIf="discount.errors.required">Campo es requerido</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="has-float-label w-100">
                        <input name="duration" [(ngModel)]="auction.duration" #duration="ngModel" type="text"
                            placeholder="Duración*" value="15 dias" class=" d-flex w-100"
                            [max-value]="auction.timeLimit" required />
                        <span>Duración*</span>
                    </label>
                    <div *ngIf="!duration.pristine && duration.invalid || formConfigTransaction.submitted && duration.errors"
                        class="invalid-feedback">
                        <div *ngIf="duration.errors.required">Campo es requerido</div>
                        <div *ngIf="duration.errors.max">Sólo quedan {{ auction.timeLimit }} días válidos para rematar
                            los peygolds créditos</div>
                    </div>
                </div>
            </div>

            <div class="row-buttons justify-content-end mt-3">
                <button type="button" (click)="step = step - 1" class="white-button-border">Volver</button>
                <button type="submit" class="solid-blue-button">Iniciar remate</button>
            </div>

        </div>
    </form>
</div>
<div *ngIf="step==4">
    <app-ui-pey-message-success [title]="title" [message]="message" [showImageBottom]="showImageBottom"
        [routeTo]="routeTo" [buttonLabel]="buttonLabel"></app-ui-pey-message-success>
</div>