<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<ngb-alert type="danger" *ngIf="error" [innerHtml]="error"></ngb-alert>
<ngb-alert type="success" *ngIf="success" [innerHtml]="success"></ngb-alert>
<div *ngIf="loanDetail && userAccount">

    <h2>Confirmación de liquidación</h2>
    <p class="opening-text mb-5">Revisa que hayas seleccionado correctamente las solicitudes e ingresa las claves de
        seguridad para confirmar las liquidaciones.</p>

    <!---tabla--->

    <div class="grey-box d-flex flex-column w-100 mb-5">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0">N° de solicitud</th>
                    <th scope="col" class="border-top-0">Fecha de vencimiento</th>
                    <th scope="col" class="border-top-0">Empresa</th>
                    <th scope="col" class="border-top-0">Aseguradora</th>
                    <th scope="col" class="border-top-0">N° de póliza</th>
                    <th scope="col" class="border-top-0">Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td [innerHtml]="loanDetail.id"></td>
                    <td [innerHtml]="loanDetail.checks[loanDetail.checks.length - 1].expirationDateStr"></td>
                    <td [innerHtml]="loanDetail.applicant.bussinessName"></td>
                    <td [innerHtml]="loanDetail.insuranceCarrier.label"></td>
                    <td [innerHtml]="loanDetail.insuranceLoan.policyNumber"></td>
                    <td>{{ loanDetail.transactionType.coin }}&nbsp;{{loanDetail.amount | number:'1.2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form name="form" [mustMatch]="['password', 'repeatPassword']" (ngSubmit)="processLoanForm.form.valid && onSubmit()"
        #processLoanForm="ngForm" novalidate>


        <div class="d-flex container-info justify-content-between">

            <div class="d-flex grey-box w-100 flex-wrap mb-5">

                <div class="container-analisis-riesgo p-4 ">


                    <span class="mt-2 mb-2">Ingresa tu clave</span>
                    <div class="mt-2 mb-2">
                        <label class="has-float-label mb-4 w-100" style="visibility: hidden;">
                            <input type="password" placeholder="Contraseña" class="d-block form-control p-3 w-100"
                                name="password" [(ngModel)]="userAccount.password" #password="ngModel" />
                        </label>

                        <input type="password" class="d-block form-control p-3 w-100"
                            [ngClass]="{'is-valid' : !repeatPassword.errors}" name="repeatPassword"
                            [(ngModel)]="repeatPasswordInput" #repeatPassword="ngModel" required
                            autocomplete="new-password" />

                        <div *ngIf="!repeatPassword.pristine && repeatPassword.invalid || processLoanForm.submitted && repeatPassword.errors"
                            class="invalid-feedback">
                            <div *ngIf="repeatPassword.errors.required">Campo es requerido</div>
                            <div *ngIf="repeatPassword.errors.mustMatch">
                                La contraseña es inválida
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container-analisis-riesgo border-0 p-4">
                    <div class="row-buttons w-100 justify-content-center">
                        <button [disabled]="repeatPassword.invalid" role="button" class="solid-blue-button"
                            (click)="sendToken()">Generar token</button>
                    </div>

                    <span class="mt-2 mb-2" [ngClass]="{'disabled' : repeatPassword.invalid}">Ingresa tu token</span>
                    <div class="mt-2 mb-2">
                        <label for="password" class="d-none">Token</label>
                        <input type='password' name="token" pattern="^[0-9]*$" [(ngModel)]="tokenInput" #token="ngModel"
                            class="p-3 w-100" [disabled]="repeatPassword.invalid" required />
                        <div *ngIf="!token.pristine && token.invalid || processLoanForm.submitted && token.errors"
                            class="invalid-feedback">
                            <div *ngIf="token.errors.required">Campo es requerido</div>
                            <div *ngIf="token.errors.pattern">Campo es inválido</div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex flex-column w-50 grey-box ml-4 mb-5">
                <div class="d-flex flex-column justify-content-center p-3 h-100">
                    <span class="mb-2">Monto total</span>
                    <span
                        class="fw-800 fs-26 text-color">{{ loanDetail.transactionType.coin }}&nbsp;{{loanDetail.amount | number:'1.2'}}</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center w-100 mb-3">
            <input name="comments" [(ngModel)]="loanDetail.approveDeniedComments" #comments="ngModel" class="form-control"
                placeholder="Agregar una nota" type="text" class="d-flex w-75 mt-2 mb-4" id="input-line" required>

        </div>
        <div *ngIf="!comments.pristine && comments.invalid || processLoanForm.submitted && comments.errors"
            class="invalid-feedback">
            <div *ngIf="comments.errors.required">Campo es requerido</div>
        </div>
        <div class="row-buttons w-100 justify-content-end">
            <button [routerLink]="routes.loansettlements.index.href" role="button"
                class="white-button-border">Volver</button>
            <button type="submit" role="button" class="solid-blue-button" (click)="status=3">Rechazar</button>
            <button type="submit" role="button" class="solid-blue-button" (click)="status=2">Confirmar</button>
        </div>
    </form>
</div>