<nav class="navbar-gradient shadow ">
  <!-- Barra de navegacion superior -->
  <ul class="top-nav">
    <li>
      <a [routerLink]="routes.home.href">
        <img src="assets/images/Isologotipo.svg" alt=""/>
      </a>
    </li>
    <div>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href">¿Ya tienes una cuenta?</a>
      </li>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href" class="btn-white">Iniciar sesión</a>
      </li>
    </div>
  </ul>
</nav>
<article *ngIf="step == 1">
  <section class="min-vh-100">
    <div class="container-fluid">
      <div class="d-flex align-items-center flex-column justify-content-center mt-5 ">
        <div class="grey-box w-50 bg-white p-4 mt-5 mb-5">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="fs-22 fw-700 mt-3 mb-3">¡Restablecer contraseña!</span>
            <p class="w-75 mb-4">Te ayudaremos a recuperar tu contraseña.<br>
              Ingresa tu correo electrónico para continuar</p>
            <form name="formResetPasswordEmail" class="w-75" (ngSubmit)="retrieveEmailToken([email])" #formResetPasswordEmail="ngForm" novalidate>
              <div class="form-group">
                <div class="mb-4">
                  <label class="has-float-label mb-4 w-100">
                    <input type="text" placeholder="Correo eléctronico" class="form-control w-100"
                           [ngClass]="{'ng-dirty ng-invalid' : tryNextStep && email.errors}"
                           name="email" [(ngModel)]="user.email" #email="ngModel" required email/>
                    <span>Correo eléctronico</span>
                    <div *ngIf="!email.pristine && email.invalid || tryNextStep && email.errors" class="invalid-feedback text-left">
                      <div *ngIf="email.errors.required">Campo es requerido</div>
                      <div *ngIf="email.errors.email">Por favor, ingrese un correo eléctronico válido</div>
                    </div>
                    <div *ngIf="error" class="invalid-feedback text-left">
                      <div [innerHtml]="error"></div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="form-group text-center">
                <button
                  type="submit"
                  class="white-button-border">
                  Continuar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article *ngIf="step == 2">
  <section class="min-vh-100">
    <div class="container-fluid">
      <div class="d-flex align-items-center flex-column justify-content-center mt-5 ">
        <div class="grey-box w-50 bg-white p-4 mt-5 mb-5">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="fs-22 fw-700 mt-3 mb-3">¡Codigo de seguridad enviado!</span>
            <p class="w-75 mb-4">Te hemos enviado un correo electrónico con un código de seguridad, revisa tu casilla de mensajes. Puede que demore unos minutos en llegarte.</p>
            <form name="formResetPasswordToken" class="w-75" (ngSubmit)="validateToken([token])" #formResetPasswordToken="ngForm" novalidate>
              <div class="form-group">
                <input type="text" class="form-control text-center token mb-2" name="token" placeholder="0000"
                       [ngClass]="{'ng-dirty ng-invalid' : tryNextStep && token.errors}"
                       name="token" [(ngModel)]="user.token" #token="ngModel" required/>
                <div *ngIf="!token.pristine && token.invalid || tryNextStep && token.errors" class="invalid-feedback text-left">
                  <div *ngIf="token.errors.required">Campo es requerido</div>
                </div>
                <div *ngIf="error" class="invalid-feedback text-left">
                  <div [innerHtml]="error"></div>
                </div>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="white-button-border">
                  Continuar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<article *ngIf="step == 3">
  <section class="min-vh-100">
    <div class="container-fluid">
      <div class="d-flex align-items-center flex-column justify-content-center mt-5 ">
        <div class="grey-box w-50 bg-white p-4 mt-5 mb-5">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="fs-22 fw-700 mt-3 mb-3">¡Restablecer contraseña!</span>
            <p class="w-75 mb-4">Completa los datos para restablecer tu clave.</p>
            <form name="formResetPassword" class="w-75" (ngSubmit)="changePassword([password, repeatPassword])" #formResetPassword="ngForm" novalidate>
              <div class="mb-4">
                <label class="has-float-label mb-4 w-100">
                  <input type="password" placeholder="Contraseña" class="form-control w-100"
                         [ngClass]="{'ng-dirty ng-invalid' : tryNextStep && password.errors}"
                         name="password" [(ngModel)]="user.password" #password="ngModel" required
                         [pattern]="environment.form.password.validations.pattern"/>
                  <span>Contraseña</span>
                  <div *ngIf="!password.pristine && password.invalid || tryNextStep && password.errors" class="invalid-feedback text-left">
                    <div *ngIf="password.errors.required">Campo es requerido</div>
                    <div *ngIf="password.errors.pattern">
                      La contraseña debe tener al menos una letra en mayuscula, una minúscula, un número, un simbolo
                      (@#$%^.+=) y al menos ocho carácteres
                    </div>
                  </div>
                </label>
              </div>
              <div class="mb-4">
                <label class="has-float-label mb-4 w-100">
                  <input type="password" placeholder="Confrimar contraseña" class="form-control w-100"
                         [ngClass]="{'ng-dirty ng-invalid' : tryNextStep && repeatPassword.errors}"
                         name="repeatPassword" [(ngModel)]="user.repeatPassword" #repeatPassword="ngModel" required
                         pattern="{{ password.value }}"/>
                  <span>Confrimar contraseña</span>
                  <div *ngIf="!repeatPassword.pristine && repeatPassword.invalid || tryNextStep && repeatPassword.errors" class="invalid-feedback text-left">
                    <div *ngIf="repeatPassword.errors.required">Campo es requerido</div>
                    <div *ngIf="repeatPassword.errors.pattern">
                      Las contraseñas no coinciden
                    </div>
                  </div>
                  <div *ngIf="error" class="invalid-feedback text-left">
                    <div [innerHtml]="error"></div>
                  </div>
                </label>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="white-button-border">
                  Continuar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
