<ngx-spinner>
  <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<nav class="navbar-gradient shadow ">
  <!-- Barra de navegacion superior -->
  <ul class="top-nav">
    <li>
      <a [routerLink]="routes.home.href">
        <img src="assets/images/Isologotipo.svg" alt="" />
      </a>
    </li>
    <div>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href">¿Ya tienes una cuenta?</a>
      </li>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href" class="btn-white">Iniciar sesión</a>
      </li>
    </div>
  </ul>
</nav>
<ngb-alert type="danger" *ngIf="error" (close)="cleanErrors()" [innerHtml]="error"></ngb-alert>
<article *ngIf="step == 1">
  <section class="min-vh-100">
    <div class="reset-password container-fluid">
      <div class="grey-box col-xs-12 col-sm-6 col-md-6 bg-white p-4 mt-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <span class="fs-22 fw-700 mt-3 mb-3">¡Restablecer contraseña!</span>
          <p class="w-75 mb-4">Te ayudaremos a recuperar tu contraseña.<br>
            Ingresa tu correo electrónico para continuar</p>
          <form name="formResetPasswordEmail" class="w-75" (ngSubmit)="checkEmail([email])"
            #formResetPasswordEmail="ngForm" novalidate>
            <div class="form-group">
              <div class="mb-4">
                <label class="has-float-label mb-4 w-100">
                  <input type="text" placeholder="Correo eléctronico" class="form-control w-100"
                    [ngClass]="{'ng-dirty ng-invalid' : tryNextStep && email.errors}" name="email"
                    [(ngModel)]="user.email" #email="ngModel" required email />
                  <span>Correo eléctronico</span>
                  <div *ngIf="!email.pristine && email.invalid || tryNextStep && email.errors"
                    class="invalid-feedback text-left">
                    <div *ngIf="email.errors.required">Campo es requerido</div>
                    <div *ngIf="email.errors.email">Por favor, ingrese un correo eléctronico válido</div>
                  </div>
                  <div *ngIf="error" class="invalid-feedback text-left">
                    <div [innerHtml]="error"></div>
                  </div>
                </label>
              </div>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="white-button-border">
                Continuar
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
</article>
<article *ngIf="step == 2" class="authentication-two-steps">
  <section class="min-vh-100">
    <div class="container-fluid">
      <div class="d-flex align-items-center flex-column justify-content-center mt-5 ">
        <div class="grey-box w-50 bg-white p-4 mt-5 mb-5">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="fs-22 fw-700 mt-3 mb-3">Restablecer contraseña</span>
            <p class="w-75 mb-5">Elige como recuperar tu cuenta. Recibirás un código para restablecer tu contraseña</p>
            <form name="formSelectedSendTokenType" (ngSubmit)="sendToken()" #formSelectedSendTokenType="ngForm"
              novalidate class="reset-pass w-75">

              <div class="form-check form-check-inline d-flex justify-content-between w-100">
                <label class="form-check-label text-left" for="inlineRadio1"> Correo electrónico
                  <span [innerHtml]="user.email"></span>
                </label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0"
                  checked #inlineRadioOptions="ngModel" [(ngModel)]="sendType">

              </div>
             <!-- <div class="form-check form-check-inline d-flex justify-content-between w-100">
                <label class="form-check-label text-left" for="inlineRadio2"> Mensaje de texto
                  <span [innerHtml]="'*********'+user.phone"></span>
                </label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="1" #inlineRadioOptions="ngModel" [(ngModel)]="sendType">

              </div>-->
              <div class="form-group mt-4">
                <button type="submit" class="solid-blue-button">Continuar</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

  </section>
</article>

<article *ngIf="step == 3" class="authentication-two-steps">
    <app-ui-pey-verify-security-code [user]="user" [title]="title" [message]="message" [sendType]="sendType" (onContinue)="continue($event)">
    </app-ui-pey-verify-security-code>
</article>

<article *ngIf="step == 4">
  <section class="min-vh-100">
    <div class="reset-password container-fluid">
      <div class="grey-box col-xs-12 col-sm-6 col-md-6 bg-white p-4 mt-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <span class="fs-22 fw-700 mt-3 mb-3">¡Restablecer contraseña!</span>
          <p class="w-75 mb-4">Completa los datos para restablecer tu clave.</p>
          <form name="formResetPassword" class="w-75" [mustMatch]="['password', 'repeatPassword']" (ngSubmit)="formResetPassword.form.valid && changePassword([password, repeatPassword])"
            #formResetPassword="ngForm" novalidate>
            <div class="mb-4">
              <label class="has-float-label mb-4 w-100">
                <input type="password" placeholder="Contraseña" class="form-control w-100"
                  [ngClass]="{'ng-dirty ng-invalid' : tryNextStep && password.errors}" name="password"
                  [(ngModel)]="user.password" #password="ngModel" required
                  [pattern]="environment.form.password.validations.pattern" />
                <span>Contraseña</span>
                <div *ngIf="!password.pristine && password.invalid || tryNextStep && password.errors"
                  class="invalid-feedback text-left">
                  <div *ngIf="password.errors.required">Campo es requerido</div>
                  <div *ngIf="password.errors.pattern">
                    La contraseña debe tener al menos una letra en mayuscula, una minúscula, un número, un simbolo
                    (@#$%^.+=) y al menos ocho carácteres
                  </div>
                </div>
              </label>
            </div>
            <div class="mb-4">
              <label class="has-float-label mb-4 w-100">
                <input type="password" placeholder="Confrimar contraseña" class="form-control w-100"
                  [ngClass]="{'ng-dirty ng-invalid' : tryNextStep && repeatPassword.errors.mustMatch}" name="repeatPassword"
                  [(ngModel)]="user.repeatPassword" #repeatPassword="ngModel" required [pattern]="environment.form.password.validations.pattern"/>
                <span>Confrimar contraseña</span>
                <div *ngIf="!repeatPassword.pristine && repeatPassword.invalid || tryNextStep && repeatPassword.errors"
                  class="invalid-feedback text-left">
                  <div *ngIf="repeatPassword.errors.required">Campo es requerido</div>
                  <div *ngIf="repeatPassword.errors.mustMatch">
                    Las contraseñas no coinciden
                  </div>
                </div>
                <div *ngIf="error" class="invalid-feedback text-left">
                  <div [innerHtml]="error"></div>
                </div>
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="white-button-border">
                Continuar
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
</article>