.modal-content > ul:nth-of-type(3) > li:first-of-type > span:nth-child(2) {
    font-size: 13px;
    font-weight: 600;
    color:#333333;}

 .modal-content > ul:nth-of-type(2) > li:first-of-type span {
    color:#333333;
 }