<div class="sidebar-extended" id="sidebar-wrapper">
  <div class="sidebar-extended" id="sidebar-container">
    <ul class="list-group">
      <!-- IMPORTANTE: Añadir clase active al anchor tag en el side-bar -->

      <!-- Titulo peygold -->
      <li>
        <div class="center-sidebar-title">
          <img src="assets/images/logo-peygold-2.svg" class="title-extended title" alt="" />
          <img src="assets/images/isotipo.svg" class="title title-collapse d-none" alt="">
        </div>
        <span><i class="fas fa-bars main-menu-toggle" id="quit-sm-btn"></i></span>
      </li>
      <!-- Titulo peygold -->

      <div class="border-top-white"></div>

      <!-- Usuario logeado -->
      <li>
        <div id="center-sidebar-user">
          <app-ui-pey-user-image size="sm" [user]="user"></app-ui-pey-user-image>
          <p id="user-text">
            <span class="sidebar-welcome-text">BIENVENIDO</span><br />
            <span class="sidebar-user-text" [innerHtml]="user.completeName"></span>
          </p>
        </div>
      </li>
      <!-- Usuario logeado -->

      <li class="nav-item" *ngFor="let item of items; let i = index">
        <div *ngIf="item.isSeparator" class="mt-3 mb-3 border-top-white"></div>
        <a *ngIf="! item.hasChilds && !item.isSeparator"
           class="nav-link sidebar-link justify-content-between slide-toggle"
           routerLinkActive=""
           [routerLink]="item.routerLink"
           [attr.data-el-target]="'#menu' + i">
          <div class="d-flex">
            <span [class]="item.icon"></span>
            <span [innerHtml]="item.label"></span>
          </div>
        </a>
        <a *ngIf="item.hasChilds && !item.isSeparator"
           class="nav-link sidebar-link justify-content-between slide-toggle sub_menu_item"
           [routerLink]="item.routerLink"
           [attr.data-el-target]="'#menu' + i">
          <div class="d-flex">
            <span [class]="item.icon"></span>
            <span [innerHtml]="item.label"></span>
          </div>
          <svg *ngIf="item.hasChilds" version="1.1" id="pay-chevron-sidebar" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 238.003 238.003"
                    style="enable-background:new 0 0 238.003 238.003;" xml:space="preserve" class="sidebar-icon chevron-right">
                    <g>
                      <g>
                        <path d="M181.776,107.719L78.705,4.648c-6.198-6.198-16.273-6.198-22.47,0s-6.198,16.273,0,22.47
                              l91.883,91.883l-91.883,91.883c-6.198,6.198-6.198,16.273,0,22.47s16.273,6.198,22.47,0l103.071-103.039
                              c3.146-3.146,4.672-7.246,4.64-11.283C186.416,114.902,184.89,110.833,181.776,107.719z" />
                      </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </svg>

        </a>
        <div *ngIf="!item.isSeparator && item.hasChilds" class="mnu-hide-panel-sidebar" [id]="'menu' + i">
          <ul class="sidebar-sublist sublist-pay">
            <li class="nav-item" *ngFor="let item of item.childs;">
              <a [routerLink]="item.routerLink" class="nav-link">
                <span [class]="item.icon"></span>
                <span class="sidebar-sub-link fs-12" [innerHtml]="item.label"></span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Item -->
    </ul>
  </div>
</div>  <!-- Sidebar end -->
