<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<div class="top">
    <ngb-alert type="danger" *ngIf="error" [innerHtml]="error"></ngb-alert>
    <div class="row mb-3">
        <div class="col">
            <h2><span class="icon-catalogo"></span> Catálogos: Rescate de cheques</h2>
        </div>
        <div class="col">
            <form>
                <input id="inputFilter" type="text" class="inputSearch" name="filter" (keyup)="search($event)"
                    [(ngModel)]="filter" placeholder="Buscar" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col col-6 form-inline">
            <!--<div class="form-group">
                    <button class="btn FiltrarOrdenar ">Filtrar/Ordenar</button>
                    <form name="form" #selectFilterForm="ngForm">
                        <input id="inputSelectFilter" type="hidden" name="selectFilter" [(ngModel)]="selectFilter" />
                    </form>
                </div> -->

            <div class="form-group">
                <div class="Export">
                    <a class="ExportBtn slide-toggle"><span class="ExportIcon"></span>Exportar como<span
                            class="ChevronDown"></span></a>
                    <div class="DownExport slide-toggle-content">
                        <ul>
                            <li><a (click)="export('csv')">.CSV</a></li>
                            <li><a (click)="export('xlsx')">.XLSX</a></li>
                            <li><a (click)="export('pdf')">.PDF</a></li>
                            <li><a (click)="export('txt')">.TXT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <a [routerLink]="routes.rescuecheck.post.href" class="btn-blue-lg"><span class="plusIcon"></span> Nueva
                opción</a>
        </div>
    </div>
</div>
<div class="mb-2">
    <div class="tablaDatos">
        <!-- <div class="DownFiltrarOrdenar">
                <div class="Export">
                    <a class="ExportBtn">Estado<span class="ChevronDown"></span></a>
                    <div class="DownExport">
                        <ul>
                            <li id="deleted" (click)="setFilter('true')" class="optionDate">Eliminado</li>
                        </ul>
                    </div>
                </div>
            </div> -->
        <table id="tableRescueChecks" class="table responsive" *ngIf="rescuechecks && rescuechecks.data">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Código ID</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let checkRescue of rescuechecks.data;">
                    <td>
                        <p class="text-center">{{checkRescue.idCheckRescue}}</p>
                    </td>
                    <td>
                        <p class="text-center">{{checkRescue.label}}</p>
                    </td>
                    <td class="text-center">
                        <span *ngIf="!checkRescue.deleted" class="status Aprobado"></span>
                        <span *ngIf="checkRescue.deleted" class="status Bloqueado"></span>
                    </td>
                    <td class="text-center">
                        <div class="DropOptions toggleOptions">
                            <span class="options slide-toggle"></span>
                            <div class="OptionsDrop text-left slide-toggle-content">
                                <a class="dropdown-item"
                                    [routerLink]="[routes.rescuecheck.post.href,checkRescue.idCheckRescue]">Editar opción</a>
                                <div class="row">
                                    <div class="col col-6">
                                        <a class="dropdown-item" (click)="add(checkRescue)"><span
                                                class="Seguridad-icon icon-Activar"></span>Agregar</a>
                                    </div>
                                    <div class="col col-6">
                                        <a class="dropdown-item" (click)="delete(checkRescue)"><span
                                                class="Seguridad-icon icon-Desactivar"></span>Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!showPagination" class="text-center p-end">
            No hay tipos de rescate de cheques para mostrar.
        </p>
    </div>
    <ngb-pagination *ngIf="showPagination" [collectionSize]="totalItems" [(page)]="page"
        (pageChange)="loadPage($event)">
    </ngb-pagination>
</div>