<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<ngb-alert type="danger" *ngIf="error" [innerHtml]="error"></ngb-alert>
<div *ngIf="auctions && auctions.data && step==1">
    <h2><span class="icon-Iconos-13 fs-22"></span>Remates: <span>Mis Remates</span></h2>
    <p class="opening-text">Detalle de tus remates creados</p>
    <div class="content-center">

        <div class="filtros w-100">
            <div class="d-flex justify-content-between">
                <div class="left">
                    <button class="btn btn-sm filtrarOrdenar">
                        Filtrar/Ordenar
                    </button>
                </div>
                <div class="right">
                   
                </div>
            </div>
        </div>
        <div class="content-center">
            <div class="grey-box d-flex flex-column w-100">
                <div class="DownFilters">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="boxSelect">
                                <a class="btn-dropDown stateDrop"><span>Importe</span><i
                                        class="fa fa-chevron-right"></i></a>
                                <div class="downFecha stateDown">
                                    <ul>
                                        <li (click)="setOrder(0)" class="optionDate">Importe</li>
                                        <li (click)="setOrder(1)" class="optionDate">Mayor primero</li>
                                        <li (click)="setOrder(0)" class="optionDate">Menor primero</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div>
                                <div class="boxSelect">
                                    <a class="btn-dropDown stateDrop"><span>Todos los Estados</span> <i
                                            class="fa fa-chevron-right"></i></a>
                                    <div class="downFecha stateDown">
                                        <ul>
                                            <li (click)="setStatus(0)" class="optionDate">Todos los Estados</li>
                                            <li (click)="setStatus(1)" class="optionDate">Activo</li>
                                            <li (click)="setStatus(2)" class="optionDate">Pausado</li>
                                            <li (click)="setStatus(3)" class="optionDate">Finalizado</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>


                <table class="table remates">
                    <thead>
                        <tr class="w-100 d-flex justify-content-between align-items-center">
                            <th scope="col" class="col-2">Importe</th>
                            <th scope="col" class="col-2">Descuento<br>ofrecido</th>
                            <th scope="col" class="col-2">Duración<br>del remate</th>
                            <th scope="col" class="col-2">Vencimiento<br>de los P$C</th>
                            <th scope="col" class="col-1">Estado</th>
                            <th scope="col" class="col-2">Comprador</th>
                            <th scope="col" class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody class="list">

                        <tr *ngFor="let auction of auctions.data"
                            class="d-flex w-100 justify-content-between align-items-center">
                            <td class="col-2"><span class="w-100">
                                    {{auction.transaction.type.coin}}
                                    {{auction.transaction.amountToAuction | currency:" ":"symbol":"1.0"}}
                                </span></td>
                            <td class="col-2 d-flex justify-content-center"><span
                                    [innerHtml]="auction.discount+'%'"></span></td>
                            <td class="col-2 d-flex justify-content-center">
                                <span *ngIf="auction.endsIn>0 && auction.status.value!='3' && !auction.transaction.receiver">Finaliza en {{auction.endsIn}} dias</span>
                                <span *ngIf="auction.endsIn>0 && auction.status.value=='3' && !auction.transaction.receiver" class="text-danger">Finalizado</span>
                                <span *ngIf="auction.endsIn<=0 && auction.status.value=='3' && !auction.transaction.receiver" class="text-danger">Vencido</span>
                                <span *ngIf="auction.status.value=='3' && auction.transaction.receiver" class="text-success">Rematado</span>
                                <span *ngIf="auction.endsIn==0 && auction.status.value=='1' && !auction.transaction.receiver" class="text-danger">Finaliza hoy</span>
                            </td>
                            <td class="col-2 d-flex justify-content-center"><span
                                    [innerHtml]="auction.expirationDate | date:medium"></span></td>
                            <td class="col-1 d-flex justify-content-center">
                                <span *ngIf="auction.endsIn>0 && auction.status.value!='3' && !auction.transaction.receiver" 
                                    [innerHtml]="auction.status.label"
                                    [ngClass]="{'text-success': auction.status.value==1, 'text-primary':auction.status.value==2}"></span>
                                <span *ngIf="auction.endsIn>0 && auction.status.value=='3' && !auction.transaction.receiver" class="text-danger">Finalizado</span>
                                <span *ngIf="auction.endsIn<=0 && auction.status.value=='3' && !auction.transaction.receiver" [innerHtml]="'Vencido'" class="text-danger"></span>
                                <span *ngIf="auction.status.value=='3' && auction.transaction.receiver" class="text-success">Rematado</span>
                                <span *ngIf="auction.endsIn==0 && auction.status.value=='1' && !auction.transaction.receiver" class="text-danger">Finaliza hoy</span>
                            </td>
                            <td class="col-2 d-flex justify-content-center">
                            <span *ngIf="auction.transaction.receiver">{{auction.transaction.receiver.completeName}}</span></td>
                            <td class="col-1 d-flex justify-content-end">
                                <div class="detallePopup">
                                    <a role="button" class="detailBtn slide-toggle"><i class="optionPoint"></i></a>
                                    <div class="details slide-toggle-content">
                                        <ul>
                                            <li *ngIf="auction.endsIn>0 && auction.status.value == '2'">
                                                <a class="text-left" (click)="selectPeygoldCredit(auction)">Editar
                                                    remate</a>
                                            </li>
                                            <li>
                                                <a class="text-left"
                                                    (click)="viewDetail(auction);modal='detail'">Ver
                                                    detalle</a>
                                            </li>
                                        </ul>
                                        <ul *ngIf="auction.endsIn>0 && auction.status.value != '3'">
                                            <li *ngIf="auction.status.value == '2'"><button type="button"
                                                    class="text-left" (click)="changeAuctionStatus(auction,1)">
                                                    <span class="Seguridad-icon icon-Activar"></span>Activar</button>
                                            </li>
                                            <li *ngIf="auction.status.value == '1'"><button type="button"
                                                    class="text-left" (click)="changeAuctionStatus(auction,2)">
                                                    <span class="Seguridad-icon icon-Desactivar"></span>Pausar</button>
                                            </li>
                                            <li *ngIf="auction.status.value == '1' || auction.status.value == '2'">
                                                <button type="button" class="text-left"
                                                    (click)="changeAuctionStatus(auction,3)">
                                                    <span
                                                        class="Seguridad-icon icon-Finalizar "></span>Finalizar</button>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!showPagination"
                    class="sin-remates-creados d-flex justify-content-center align-items-center flex-column p-5">
                    <img class="d-flex mb-3" src="/assets/images/new-icons/rematando.svg" height="100" width="100">
                    <h2 class="text-dark">No iniciaste ningún remate</h2>
                    <span>No tienes saldo suficiente para iniciar un remate</span>
                </div>
            </div>

            <ngb-pagination *ngIf="showPagination" [collectionSize]="totalItems" [(page)]="page"
                (pageChange)="loadPage($event)">
            </ngb-pagination>
        </div>
    </div>
</div>
<div *ngIf="auctionSelected && step==2">
    <h2><span class="icon-Iconos-13 fs-22"></span>Remates: <span>Editar remate</span></h2>
    <p class="opening-text">Personaliza tus remates indicando que descuento quieres ofrecer y durante cuanto tiempo.
        A su vez puedes pausar y reactivar la publicación cuantas veces quieras
    </p>
    <form name="formConfigTransaction" #formConfigTransaction="ngForm"
        (ngSubmit)="formConfigTransaction.form.valid && saveAuction()" novalidate>
        <div class="rematar-puntos  pt-4 mb-2">
            <div class="grey-box d-flex flex-column align-items-center p-3 col-xs-12">
                <div class="amount d-flex flex-column mt-3 mb-3">
                    <span>Estas rematando</span>
                    <span>{{auctionSelected.transaction.type.coin}}
                        {{auctionSelected.transaction.amountToAuction | currency:" ":"symbol":"1.0"}}</span>
                </div>

                <div class="form-group col-md-6">
                    <label class="has-float-label w-100">
                        <input name="discount" [(ngModel)]="auctionSelected.discount" #discount="ngModel" type="text"
                            placeholder="Descuento ofrecido*" suffix="%" mask="0*" class="d-flex w-100" required />
                        <span>Descuento ofrecido*</span>
                    </label>
                    <div *ngIf="!discount.pristine && discount.invalid || formConfigTransaction.submitted && discount.errors"
                        class="invalid-feedback">
                        <div *ngIf="discount.errors.required">Campo es requerido</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="input-group has-float-label w-100">
                        <input name="datepicker" placeholder="Duración*" class="d-flex w-100" ngbDatepicker
                            #datepicker="ngbDatepicker" [autoClose]="'inside'" (dateSelect)="onDateSelection($event)"
                            [dayTemplate]="t" [minDate]="minDate" [maxDate]="maxDate" outsideDays="hidden"
                            (click)="datepicker.toggle()" required>
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                        <span>Duración*</span>
                    </label>
                    <div *ngIf="!datepicker.pristine && datepicker.invalid || formConfigTransaction.submitted && datepicker.errors"
                        class="invalid-feedback">
                        <div *ngIf="datepicker.errors.required">Campo es requerido</div>
                        <div *ngIf="datepicker.errors.max">Sólo quedan {{ auction.timeLimit }} días válidos para rematar
                            los peygolds créditos</div>
                    </div>
                </div>
            </div>

            <div class="row-buttons justify-content-end mt-3">
                <button type="button" (click)="step = step - 1; auction=null"
                    class="white-button-border">Volver</button>
                <button type="submit" class="solid-blue-button" (click)="saveAuction()">Guardar cambios</button>
            </div>

        </div>
    </form>
</div>


<app-ui-pey-sidebar *ngIf="modal=='detail'" (onClose)="auctionSelected = null" [closed]="!auctionSelected"
    title="Detalles de la operación" class="BoxDetails Remates">

    <div *ngIf="auctionSelected" class="modal-content pl-4 pr-4 pt-2">
        <ul class="operation-date">
            <li><span [innerHtml]="'Operacion #'+auctionSelected.id"></span>
                <span [innerHtml]="auctionSelected.transaction.createdAt | date: medium"></span>
            </li>
        </ul>

        <ul class="list-detail">
            <li>
                <span>Importe rematado</span>
                <span>
                    {{auctionSelected.transaction.type.coin}}
                    {{auctionSelected.transaction.amountToAuction | currency:" ":"symbol":"1.0"}}
                </span>
            </li>
            <li>
                <span>Descuento aplicado</span>
                <span [innerHtml]="auctionSelected.discount+'%'"></span>
            </li>
            <li>
                <span>Vencimiento P$C</span>
                <span [innerHtml]="auctionSelected.expirationDate | date:medium"></span>
            </li>
        </ul>


        <ul  class="amount-detail">
            <li>
                <span *ngIf="auctionSelected.transaction.receiver">Total recibido</span>
                <span *ngIf="!auctionSelected.transaction.receiver">Total a recibir</span>
                <span>
                        $ {{ (auctionSelected.transaction.amountToAuction - (auctionSelected.transaction.amountToAuction * auctionSelected.discount/100)) | currency: " ":"symbol":"1.0"}}
                </span>
            </li>
        </ul>


        <ul *ngIf="auctionSelected.transaction.receiver" class="user-info-modal">
            <li class="d-flex justify-content-center flex-column align-items-center w-100 text-center mt-4 mb-4">
                <p>Contraparte</p>
                <i class="circle">{{auctionSelected.transaction.receiver.initials}}</i>
                <span class="text-center w-100">{{auctionSelected.transaction.receiver.completeName}}</span>
                <span class="text-center w-100">{{auctionSelected.transaction.receiver.email}}</span>
            </li>
        </ul>


        <div *ngIf="auctionSelected.endsIn>0 && auctionSelected.status.value=='3' && !auctionSelected.transaction.receiver" class="alert alert-danger text-center position-relative d-flex" role="alert">
            <span [innerHtml]="'Finalizado'" class="text-danger text-center w-100"></span>           
        </div> 
        <div *ngIf="auctionSelected.endsIn<=0 && auctionSelected.status.value=='3' && !auctionSelected.transaction.receiver" class="alert alert-danger text-center position-relative d-flex" role="alert">
                <span [innerHtml]="'Vencido'" class="text-danger text-center w-100"></span>
         </div> 
         <div *ngIf="auctionSelected.endsIn==0 && auctionSelected.status.value=='1' && !auctionSelected.transaction.receiver" class="alert alert-danger text-center position-relative d-flex" role="alert">
                <span [innerHtml]="'Finaliza hoy'" class="text-danger text-center w-100"></span>
         </div> 

    </div>


</app-ui-pey-sidebar>