<nav class="navbar-gradient shadow ">
  <!-- Barra de navegacion superior -->
  <ul class="top-nav">
    <li>
      <a [routerLink]="routes.home">
        <img src="assets/images/Isologotipo.svg" alt=""/>
      </a>
    </li>
    <div>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href">¿Ya tienes una cuenta?</a>
      </li>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href" class="btn-white">Iniciar sesión</a>
      </li>
    </div>
  </ul>
</nav>
<article>
  <section class="bg-exito">
    <div class="container-fluid">
      <div class="d-flex align-items-center flex-column justify-content-center mt-5 ">
        <div class="grey-box w-50 bg-white p-4 mt-5 mb-5">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <img src="assets/images/confrimacion-blanco.svg" width="100" height="100" class="successIcon">
            <span class="fs-22 fw-700 mb-3" *ngIf="title" [innerHtml]="title"></span>
            <p class="w-75" *ngIf="message" [innerHtml]="message"></p>
            <a [routerLink]="routes.login.href" class="white-button-border">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
