.pey-success {

display: flex;
justify-content: center;
top: 51px;
position: relative;


}
.illustration-container {
    display: flex;
    padding-top: 80px;
    width: 100%;
    justify-content: center;
}

.illustration-container img {

    display: flex;
    max-width: 100%;
}