<nav class="navbar-gradient shadow ">
  <!-- Barra de navegacion superior -->
  <ul class="top-nav">
    <li>
      <a [routerLink]="routes.home">
        <img src="assets/images/Isologotipo.svg" alt=""/>
      </a>
    </li>
    <div>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href">¿Ya tienes una cuenta?</a>
      </li>
      <li class="fs-12 ml-4">
        <a [routerLink]="routes.login.href" class="btn-white">Iniciar sesión</a>
      </li>
    </div>
  </ul>
</nav>
<article>
    <app-ui-pey-message-success [title]="title" [message]="message" [showImageBottom]="showImageBottom" [routeTo]="routeTo" [buttonLabel]="buttonLabel"></app-ui-pey-message-success>
</article>
