
  .solicitudes-exito, .solicitudes-error  {

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  
  .solicitudes-exito p, .solicitudes-error p {
  color: #828282;
  
  }
  .SuccessWhite {
    box-shadow: 0px 0px 15px #63d2a9b8;
    border-radius: 50px; }
  
  .ErrorWhite {
    box-shadow: 0px 0px 11px #bb010191;
    border-radius: 50px; }

  .illustration-container {
      display: flex;
      padding-top: 80px;
      width: 100%;
      justify-content: center;
  }
  
  .illustration-container img {
  
      display: flex;
      max-width: 100%;
  }