<!--Begin NavBar -->
<div class="background-gradient">
  <nav class="top-navbar-collapse" id="top-navbar">

    <!-- Barra de navegacion superior -->
    <ul class="top-nav">
      <div>
        <li class="ml-4">
          <button>
            <img src="assets/images/bars.svg" class="topbar-bars main-menu-toggle" alt="">
          </button>
        </li>
        <li class="ml-4">
          <button>
            <img src="assets/images/notification-active.svg" class="topbar-notis" alt="">
          </button>
        </li>
      </div>
      <div>
        <li class="country-nav-item">Argentina <img src="assets/images/flag-arg.svg" alt=""></li>
        <li class="logout-nav-item">
          <a routerLink="/logout" class="no-underline">
            <div>
              <svg id="Capa_1" class="sidebar-icon" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 15.49 15.74">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #fff;
                    }
                  </style>
                </defs>
                <title>admin peygold</title>
                <path class="cls-1"
                      d="M12.25,1.69a7.75,7.75,0,1,1-9,0,.76.76,0,0,1,1.1.24l.49.88a.75.75,0,0,1-.21,1,5.26,5.26,0,1,0,6.25,0,.75.75,0,0,1-.21-1l.5-.88a.75.75,0,0,1,1.09-.24ZM9,8.25V.75A.75.75,0,0,0,8.25,0h-1A.74.74,0,0,0,6.5.75v7.5A.75.75,0,0,0,7.25,9h1A.76.76,0,0,0,9,8.25Z" />
              </svg>
              <span>Cerrar sesión</span>
            </div>
          </a>
        </li>
      </div>
    </ul>

    <!-- Final Barra de navegacion superior -->

  </nav>
  <!-- Navbar END -->


  <div class="row" id="body-row">
    <!-- Sidebar -->
    <app-ui-pey-main-menu></app-ui-pey-main-menu>

    <!-- MAIN CONTENT -->
    <div class="col" id="main-div">
      <div class="row">
        <div class="col-lg-11 white-container-wrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
