<ngx-spinner>
  <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<div class="heading d-flex align-items-center">
  <span class="icon-Iconos-04 fs-22"></span><h2>Cobrar: Solicitar dinero</h2>
</div>
<p class="opening-text mb-3">Completa los datos para enviar una solicitud. Ingresa quien debe pagarte y que importe.</p>

<div class="content-center">
  <div class="d-flex w-75 flex-column align-items-center">
    <app-ui-pey-money-transaction-form [startedByUser]="user" [disabled]="submitted" buttonLabel="Enviar solicitud" (continue)="send($event)"></app-ui-pey-money-transaction-form>
  </div>
</div>
