.placeholder {
 z-index: 10;
}
.item {

  img {
   
    width: 40px;
    height: 40px;

    border-radius: 50%;
 
  }

  span, small {
    
  }
}

.imgItem {
  width: 40px;
  height: auto;
}

.fullNameWidth{
  max-width: 70px;
}

