
<div class="form-group col-md-9 mb-4">
  <label class="has-float-label w-100">
    <ng-autocomplete name="user" [(ngModel)]="userName" placeholder="Correo electrónico*" [data]="users"
      searchKeyword="fullName" (inputChanged)='searchUsers($event)' (inputCleared)="clearUser()"
      (selected)='emitUser($event)' [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplateStatic let-item class="w-100">
      <div class="item w-100 d-flex p-2">
      <!-- <img [src]="item.avatarURL" height="40" width="40"  (error)="this.src = 'https://api.peygold.com/images/user.png'"> --> 
      <img [src]="item.avatarURL" height="40" width="40"  (error)="validateImgUser($event,item)">
        <div class="d-flex flex-column item.avatarURLlumn pl-2 w-100">
          <span class="fullNameWidth* text-left m-0" [innerHTML]="item.fullName"></span>
          <small class="text-left">{{item.email}}</small>
        </div>
      </div>
    </ng-template>
    <span class="placeholder">Correo electrónico*</span>
  </label>
</div>
<ul class="col-md-9 mb-4">
  <li *ngFor="let recentUser of recentUsers" (click)="setUser(recentUser)">
    <i class="circle"> <img class="imgItem" [src]="recentUser.avatarURL" (error)="validateImg($event,recentUser)"/> </i>
    <span class="fullNameWidth" [innerHtml]="recentUser.fullName"></span>
  </li>
</ul>