
<div class="form-group col-md-9 mb-4">
  <label class="has-float-label w-100">
    <ng-autocomplete name="user" [(ngModel)]="userName" placeholder="Correo electrónico*" [data]="users"
      searchKeyword="fullName" (inputChanged)='searchUsers($event)' (inputCleared)="clearUser()"
      (selected)='emitUser($event)' [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplateStatic let-item>
      <div class="item d-flex p-2">
        <img [src]="item.avatarURL" height="40" width="40"  (error)="this.src = 'assets/images/Isologotipo.svg'">
        <div class="d-flex flex-coitem.avatarURLlumn pl-2 w-100">
          <span class="fullNameWidth" [innerHTML]="item.fullName"></span>
          <small>{{item.email}}</small>
        </div>
      </div>
    </ng-template>
    <span class="placeholder">Correo electrónico*</span>
  </label>
</div>
<ul class="col-md-9 mb-4">
  <li *ngFor="let recentUser of recentUsers" (click)="setUser(recentUser)">
    <i class="circle"> <img class="imgItem" [src]="recentUser.avatarURL"/> </i>
    <span class="fullNameWidth" [innerHtml]="recentUser.fullName"></span>
  </li>
</ul>