<ngx-spinner>
  <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<div class="background-gradient">
  <div class="row" id="body-row">
    <div class="col login-wrapper">
      <!-- Login container -->
      <main class="row">
        <!-- Login container -->
        <!-- container for elements -->
        <div class="col-lg-4 social-media-ops-container bg-white">
          <div>
            <div class="container-redes">
              <h2>¡Seguinos en Redes Sociales!</h2>
              <p class="text-center">
                No solo somos una multiplataforma, tambien nos encontramos cerca tuyo en cualquier momento que nos
                necesites.</p>
              <p class="text-center">¡Seguinos en Redes Sociales!
              </p>
            </div>
            <div>
              <img src="assets/images/ilustracion-redes-sociales-login.svg" alt=""/>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <a href="#">
                <i class="icon-facebook fs-22 mr-4"></i>
              </a>
              <a href="#">
                <i class="icon-linkedin fs-22 mr-4"></i>
              </a>
              <a href="#">
                <i class="icon-twitter fs-22 mr-4"></i>
              </a>
              <a href="#">
                <i class="icon-instagram fs-22 mr-4"></i>
              </a>

            </div>
          </div>
        </div>
        <!-- container for elements -->
        <div class="col-lg-8 login-input-container">
          <div class="col-12 d-flex flex-column align-items-center ">
            <div class="top-register pt-4 pb-4">
              <a [routerLink]="routes.register.index.href" class="mr-4">¿No tenes cuenta?</a>
              <a [routerLink]="routes.register.index.href" class="border-button border-white">Registrarse</a>
            </div>
            <form name="loginForm" class="container-login w-50" (ngSubmit)="submited=true; loginForm.form.valid && login()" #loginForm="ngForm" novalidate>

              <div class="mb-4">
                <img src="assets/images/Isologotipo.svg" class="logo-login-img w-100 mb-4">
              </div>
              
     
              <label class="has-float-label mb-4 w-100"> 
                <input type="email" placeholder="Correo eléctronico" required class="form-control w-100"
                  [ngClass]="{'ng-dirty ng-invalid' : submited && email.errors}"
                  name="email" [(ngModel)]="user.email" #email="ngModel" required email/>
                 <span class="">Correo eléctronico</span>
                </label>
       
             
              <label class="has-float-label mb-4 w-100" id="show_hide_password">
                <input #inputPass type="password" placeholder="Contraseña" required class="w-100"
                       [ngClass]="{'ng-dirty ng-invalid' : submited && password.errors}"
                       name="password" [(ngModel)]="user.password" #password="ngModel" required password
                        />
                <span class="">Contraseña</span>
                <div class="input-group-addon">
                    <i [class]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"
                    (click)="showPass()"></i>
                </div>
                <div *ngIf="error" class="invalid-feedback text-left">
                  <div [innerHtml]="error"></div>
                </div>
              </label>
              

              <div class="recordar-password mb-5">
                <div class="checkbox-style-white">
                  <input type="checkbox" name="rememberMe" id="rememberMe" class="checkbox-white"
                         name="rememberMe" [(ngModel)]="user.rememberMe" #rememberMe="ngModel" />
                  <label for="rememberMe" class="fs-13 text-white">Recordarme</label>
                </div>
                <a [routerLink]="routes.reset_password.index.href" class="fw-600">Olvidé mi contraseña</a>
              </div>
              <button
                type="submit"
                [disabled]="isBusy"
                class="button-white">
                Iniciar sesión
              </button>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
