<div class="background-gradient">
  <div class="row" id="body-row">
    <div class="col login-wrapper">
      <!-- Login container -->
      <main class="row">
        <!-- Login container -->
        <!-- container for elements -->
        <div class="col-lg-4 social-media-ops-container bg-white">
          <div>
            <div class="container-redes">
              <h2>¡Seguinos en Redes Sociales!</h2>
              <p class="text-center">
                No solo somos una multiplataforma, tambien nos encontramos cerca tuyo en cualquier momento que nos
                necesites.</p>
              <p class="text-center">¡Seguinos en Redes Sociales!
              </p>
            </div>
            <div>
              <img src="assets/images/ilustracion-redes-sociales-login.svg" alt=""/>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <a href="#">
                <i class="icon-facebook fs-22 mr-4"></i>
              </a>
              <a href="#">
                <i class="icon-linkedin fs-22 mr-4"></i>
              </a>
              <a href="#">
                <i class="icon-twitter fs-22 mr-4"></i>
              </a>
              <a href="#">
                <i class="icon-instagram fs-22 mr-4"></i>
              </a>

            </div>
          </div>
        </div>
        <!-- container for elements -->
        <div class="col-lg-8 login-input-container">
          <div class="col-lg-11 d-flex flex-column align-items-center ">
            <div class="top-register pt-4 pb-4">
              <a [routerLink]="url(routes.register.index)" class="mr-4">¿No tenes cuenta?</a>
              <a [routerLink]="url(routes.register.index)" class="border-button border-white">Registrarse</a>
            </div>
            <form name="loginForm" class="container-login" (ngSubmit)="submited=true; loginForm.form.valid && login()" #loginForm="ngForm" novalidate>

              <div class="mb-4">
                <img src="assets/images/Isologotipo.svg" class="logo-login-img w-100 mb-4">
              </div>

              <label class="has-float-label mb-4 w-100">
                <input type="text" placeholder="Correo eléctronico" class="form-control-white w-100 shadow-none"
                       [ngClass]="{'ng-dirty ng-invalid' : submited && email.errors}"
                       name="email" [(ngModel)]="user.email" #email="ngModel" required email/>
                <span class="color-white">Correo eléctronico</span>
              </label>

              <label class="has-float-label mb-4 w-100">
                <input type="password" placeholder="Contraseña" class="form-control-white w-100 shadow-none"
                       [ngClass]="{'ng-dirty ng-invalid' : submited && password.errors}"
                       name="password" [(ngModel)]="user.password" #password="ngModel" required />
                <span class="color-white">Contraseña</span>
                <div *ngIf="error" class="invalid-feedback text-left">
                  <div [innerHtml]="error"></div>
                </div>
              </label>

              <div class="recordar-password mb-5">
                <div class="checkbox-style-white">
                  <input type="checkbox" name="rememberMe" id="rememberMe" class="checkbox-white"
                         name="rememberMe" [(ngModel)]="user.rememberMe" #rememberMe="ngModel" />
                  <label for="rememberMe" class="fs-13 text-white">Recordarme</label>
                </div>
                <a [routerLink]="url(routes.reset_password.index)" class="fw-600">Olvidé mi contraseña</a>
              </div>
              <button
                type="submit"
                class="button-white">
                Iniciar sesión
              </button>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
