<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<div class="heading d-flex align-items-center">
  <span class="icon-creditos-26 fs-22"></span><h2>Créditos: Mis solicitudes</h2>
</div>
<p class="opening-text">
  Comprobá el estado de tus solicitudes de crédito. <br />Para que
  una solicitud se haga efectiva, deben superarse dos instancias de
  aprobación.
</p>
<div class="filtros">
  <div class="row">
    <div class="col-sm-6 left">
      <button class="btn btn-sm filtrarOrdenar">
        Filtrar/Ordenar
      </button>
      <form name="form" #selectFilterForm="ngForm">
          <input  
            id="inputSelectFilter"
            type="hidden"
            name = "selectFilter"
            [(ngModel)]="selectFilter"/>
        </form>
    </div>
    <div class="col-sm-6 right">
      <form >
        <input
          id="inputFilter"
          type="text"
          class="input-buscar"
          name="filter"
          (keyup)="search($event)"
          [(ngModel)]="filter"
          placeholder="Buscar"
        />
      </form>
    </div>
  </div>
</div>
<div class="content-center">
  <div class="grey-box d-flex flex-column w-100">
    <div class="DownFilters">
      <form class="form-inline">
        <div class="input-group">
          <div class="boxSelect">
            <a class="btn-dropDown stateDrop"><span>Todos los Estados</span><i class="fa fa-chevron-right"></i></a>
            <div class="downFecha stateDown">
              <ul>
                  <li id="all" (click)="setFilter('')" class="optionDate">Todos los Estados</li>
                  <li id="aprobados" (click)="setFilter('Aprobada')" class="optionDate">Aprobados</li>
                  <li id="rechazados" (click)="setFilter('Rechazada')" class="optionDate">Rechazados</li>
                  <li id="pendientes" (click)="setFilter('Pendiente')" class="optionDate">Pendientes</li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
    <table class="table" *ngIf="loans && loans.data">
      <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">N° de solicitud</th>
        <th scope="col">Estado de Crédito</th>
        <th scope="col" width="20"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let loan of loans.data;">
        <td scope="row" [innerHtml]="loan.applicationDate | date"></td>
        <td [innerHtml]="loan.id"></td>
        <td [innerHtml]="loan.status.label"></td>
        <td width="20">
          <div class="detallePopup">
            <a role="button" class="detailBtn slide-toggle"><i class="optionPoint"></i></a>
            <div class="details slide-toggle-content">
              <ul>
                <li><button type="button" (click)="setLoan(loan)"> Ver detalle</button></li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <p *ngIf="!showPagination" class="text-center p-end">
        No hay solicitudes para mostrar.
    </p>
  </div>
</div>

<ngb-pagination *ngIf="showPagination" [collectionSize]="totalItems" [(page)]="page"
(pageChange)="loadPage($event)">
</ngb-pagination>

<app-ui-pey-sidebar *ngIf="loan && loanDetail" (onClose)="loan = null; loanDetail = null" [closed]="!loan && !loanDetail" title="Detalles de la solicitud">
  <app-eu-pey-loan [loan]="loan" [loanDetail]="loanDetail"></app-eu-pey-loan>
</app-ui-pey-sidebar>
