<div class="top">
  <div class="row TopTitle">
    <div class="col-6">
      <h2 class="titleSecurity"><span class="icon-Iconos-03"></span> Ingresar Dinero</h2>
    </div>
  </div>
  <div class="row TopTitle">
    <div class="col-6">
      <p>Elegí el monto que deseas ingresar</p>
    </div>
  </div>
</div>
<div class="wallet-conteiner mb-2">
  <div class="ingresarDinero">
    <div class="row">
      <div class="col-12">

        <div class="Export">
          <a class="ExportBtn">Importe en <span class="color-blue">Pesos</span> <span class="ChevronDown"></span></a>
          <div class="DownExport">
            <ul>
              <li><a href="#">Pesos</a></li>
              <li><a href="#">PeyGold débito</a></li>
            </ul>
          </div>
        </div>
        <input type="text" class="InputAmount" placeholder="$0" />
      </div>
    </div>
  </div>
</div>
<div class="actionForm align-items-end">
  <button type="submit" class="btn-blue" (click)="onContinue()">Continuar</button>
</div>
