<div class="top">
  <div class="row">
    <div class="heading d-flex align-items-center">
      <span [class]="icon"></span> <h2  [innerHtml]="title"></h2>
    </div>
  </div>
  <div class="row mb-3">
  
      <p [innerHtml]="description"></p>
   
  </div>
</div>
<form name="formAddAmount" (ngSubmit)="formAddAmount.valid && onContinue()" #formAddAmount="ngForm" novalidate>
  <div class="wallet-conteiner mb-2">
   <div class="col-xs-12 col-sm-9">
    <div class="ingresarDinero">
      <div class="row">
        <div class="col-12">
          <ng-select placeholder="Importe"
            class="custom-select mb-3 w-100 Export "
            bindLabel="label"
            [searchable]="false"
            [items]="transactionTypes"
            [addTag]="false"
            name="type"
            [clearable]="false"
            [(ngModel)]="transaction.type"
            #type="ngModel"
            required>
          </ng-select>

          
          <div class="input-blue-text" *ngIf="!transaction.type.isMultiPey">
            <input [required]="!transaction.type.isMultiPey" type="text" placeholder="$0" class="form-control InputAmount"
                   [prefix]="transaction.type.coin | translate" mask="separator.2" thousandSeparator="."
                   [min]="transaction.type.minAmount"
                   name="amount" [(ngModel)]="transaction.amount" #amount="ngModel" />
            <div *ngIf="!amount.pristine && amount.invalid && formAddAmount.submitted" class="invalid-feedback text-left">
              <div *ngIf="amount.errors.required">Campo es requerido</div>
            </div>
            <div *ngIf="transaction.amount < transaction.type.minAmount && formAddAmount.submitted" class="invalid-feedback text-left">
              <div >El valor mínimo para la transaccion es {{ transaction.type.minAmount }}</div>
            </div>
          </div>
          <div class="input-blue-text" *ngIf="transaction.type.isMultiPey">
            <input [required]="transaction.type.isMultiPey" type="text" placeholder="$0" class="form-control InputAmount"
                   [prefix]="transaction.multiPey[0].type.coin | translate" mask="separator.2" thousandSeparator="."
                   [min]="transaction.multiPey[0].minAmount"
                   name="fiatAmount" [(ngModel)]="transaction.multiPey[0].amount" #fiatAmount="ngModel" />
            <div *ngIf="!fiatAmount.pristine && fiatAmount.invalid && formAddAmount.submitted" class="invalid-feedback text-left">
              <div *ngIf="fiatAmount.errors.required">Campo es requerido</div>
            </div>
            <div *ngIf="transaction.multiPey[0].amount < transaction.multiPey[0].type.minAmount && formAddAmount.submitted" class="invalid-feedback text-left">
              <div >El valor mínimo para la transaccion es {{ transaction.multiPey[1].type.minAmount }}</div>
            </div>
            <input [required]="transaction.type.isMultiPey" type="text" placeholder="$0" class="form-control InputAmount"
                   [prefix]="transaction.multiPey[1].type.coin | translate" mask="separator.2" thousandSeparator="."
                   [min]="transaction.multiPey[1].type.minAmount"
                   name="peygoldAmount" [(ngModel)]="transaction.multiPey[1].amount" #peygoldAmount="ngModel" />
            <div *ngIf="!peygoldAmount.pristine && peygoldAmount.invalid && formAddAmount.submitted" class="invalid-feedback text-left">
              <div *ngIf="peygoldAmount.errors.required">Campo es requerido</div>
            </div>
            <div *ngIf="transaction.multiPey[1].amount < transaction.multiPey[1].type.minAmount && formAddAmount.submitted" class="invalid-feedback text-left">
              <div >El valor mínimo para la transaccion es {{ transaction.multiPey[1].type.minAmount }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actionForm align-items-end">
      <div class="row-buttons justify-content-end">
       <button type="submit" class="solid-blue-button">Continuar</button>
     </div>
     </div>
  </div>
</div>
  
</form>


