<div *ngIf="!loanOption">
  <div class="flex-grid-thirds">
    <div class="col" *ngFor="let option of loanOptions">
      <div class="grey-box credit-option">
        <div class="heading-grey-box">
          <span [innerHtml]="option.name"></span>
        </div>
        <div class="d-flex flex-column p-2">
          <div class="d-flex flex-column mt-3 mb-4">
            <span>Cantidad de cuotas</span>
            <span class="fw-700 mt-3" [innerHtml]="option.dues"></span>
          </div>
          <div class="d-flex flex-column mt-3 mb-4">
            <span>Valor de cuota</span>
            <span class="fw-700 mt-3" [innerHtml]="'$' + option.duesAmount"></span>
          </div>
          <div class="d-flex flex-column mt-3 mb-5">
            <span>Fecha de vencimiento</span>
            <span class="fw-700 mt-3" [innerHtml]="check.expirationDate | date:medium" *ngFor="let check of option.checks"></span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center mt-3 mb-3">
        <button (click)="selectOption(option)" role="button" class="solid-blue-button">Seleccionar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loanOption">
  <form name="form" (ngSubmit)="continue()" #checksForm="ngForm" novalidate>
    <div class="tab_container">
      <label *ngFor="let currentCheck of loanOption.checks; let i = index"
             (click)="setCheck(currentCheck)"
             class="tab1 d-flex flex-column justify-content-center check-{{i + 1}}" [ngClass]="{'active' : currentCheck === check}"><span>Cheque cuota {{i + 1}}</span></label>

      <section id="content1" class="tab-content grey-box" *ngFor="let currentCheck of loanOption.checks; let y = index" [hidden]="currentCheck !== check">
        <div class="d-flex w-100 align-items-center mb-4">
          <div class="col-4">
            <div class="dropdown chequeSelect">
              <div class="select">
                <span>Cheque de tercero</span>
                <i class="fa fa-chevron-right"></i>
              </div>
              <input type="hidden" name="gender">
              <ul class="dropdown-menu">
                <li>Pago a proveedores</li>
                <li>Mejoras edilicias</li>
                <li>Empleados</li>
                <li>Otro</li>
              </ul>
            </div>
          </div>
          <a href="" class="button-white-check">Copiar datos del cheque anterior</a>
        </div>
        <div class="flex-grid-thirds"><!-- columnas -->
          <div class="col text-left">
            <span class="fs-14 fw-700 " >Datos del cheque</span>
            <div class="input-field mt-2">
              <input type="text" class="d-block w-100 mt-2" placeholder="N° de cuenta"
              pattern="^[0-9]{1,5}$" name="accountNumber" [(ngModel)]="currentCheck.accountNumber" #accountNumber="ngModel" >
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="N° de cheque"
              pattern="[0-9]*" name="number" [(ngModel)]="currentCheck.number" #number="ngModel" >
            </div>
            <div class="input-field">
              <div class="dropdown select-height-normal w-100">
                <div class="select">
                  <span>Fecha de Emisión</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="gender">
                <ul class="dropdown-menu">
                  <li>Otro</li>
                </ul>
              </div>
            </div>
            <div class="input-field">
              <div class="dropdown select-height-normal w-100">
                <div class="select">
                  <span>Fecha de Vencimiento</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="gender">
                <ul class="dropdown-menu">
                  <li>Otro</li>
                </ul>
              </div>
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="Monto"
             name="amount" [(ngModel)]="currentCheck.amount" #amount="ngModel">
              
            </div>
          </div>

          <div class="col text-left">
            <span class="fs-14 fw-700" >Datos del banco</span>
            <div class="input-field mt-2">
              <ng-select placeholder="Banco"
                         class="custom-select dropdown select-height-normal mb-0 w-100"
                         bindLabel="label"
                         [searchable]="false"
                         [items]="banks"
                         [addTag]="false"
                         name="bank"
                         [(ngModel)]="currentCheck.bank"
                         [ngClass]="{'ng-dirty ng-invalid' : checksForm.submitted && bank.errors}"
                         #bank="ngModel"
                         required>
              </ng-select>
              <div *ngIf="!bank.pristine && bank.invalid || checksForm.submitted && bank.errors" class="invalid-feedback">
                <div *ngIf="bank.errors.required">Campo es requerido</div>
              </div>
            </div>
            <div class="input-field">
              <ng-select placeholder="Provincia"
                         (change)="getCities($event)"
                         class="custom-select dropdown select-height-normal mb-0 w-100"
                         bindLabel="label"
                         [searchable]="false"
                         [items]="states"
                         [addTag]="false"
                         name="state"
                         [(ngModel)]="currentCheck.address.state"
                         [ngClass]="{'ng-dirty ng-invalid' : checksForm.submitted && state.errors}"
                         #state="ngModel"
                         required>
              </ng-select>
              <div *ngIf="!state.pristine && state.invalid || checksForm.submitted && state.errors" class="invalid-feedback">
                <div *ngIf="state.errors.required">Campo es requerido</div>
              </div>
            </div>
            <div class="input-field">
              <ng-select placeholder="Ciudad/Barrio"
                         class="custom-select dropdown select-height-normal mb-0 w-100"
                         bindLabel="label"
                         [searchable]="false"
                         [items]="cities"
                         [addTag]="false"
                         name="city"
                         [(ngModel)]="currentCheck.address.city"
                         [ngClass]="{'ng-dirty ng-invalid' : checksForm.submitted && city.errors}"
                         #city="ngModel"
                         required>
              </ng-select>
              <div *ngIf="!city.pristine && city.invalid || checksForm.submitted && city.errors" class="invalid-feedback">
                <div *ngIf="city.errors.required">Campo es requerido</div>
              </div>
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="Dirección"
              name="address" [(ngModel)]="currentCheck.address.addressFull" #address="ngModel">
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="Teléfono"
              name="phone" [(ngModel)]="currentCheck.address.phone" #phone="ngModel">
            </div>
          </div>
          <div class="col text-left">
            <span class="fs-14 fw-700" >Datos del firmante</span>
            <div class="input-field mt-2">
              <input type="text" class="d-block w-100" placeholder="Razón Social">
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="Cuit">
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="Nombre y Apellido">
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="DNI">
            </div>
            <div class="input-field">
              <input type="text" class="d-block w-100" placeholder="Teléfono">
            </div>
          </div>
        </div><!-- columnas -->
        <div class="row-buttons p-3 align-items-center justify-content-between mb-4">
          <a href="#" class="adjuntar-img">
            <img src="../../../../../assets//images/adjuntar.svg" class="icono-adjuntar">Imagen del frente</a>
          <a href="#" class="adjuntar-img">
            <img src="../../../../../assets//images/adjuntar.svg" class="icono-adjuntar">Imagen del dorso</a>

          <a href="#" class="white-button-border w-auto">Guardar y continuar</a>
        </div>
        <div class="row-buttons p-3 align-items-center justify-content-between mb-4 invalid-feedback text-left">
          <div>Error</div>
        </div>
      </section>

      <div class="row-buttons justify-content-end mt-3">
        <a href="5-solicitar-credito-opciones.html" role="button" class="solid-blue-button">Continuar</a>
      </div>

    </div>
  </form>

</div>
