<ngx-spinner>
    <p style="font-size: 20px; color: white">Procesando...</p>
</ngx-spinner>
<ngb-alert type="danger" *ngIf="error" [innerHtml]="error"></ngb-alert>
<ngb-alert type="success" *ngIf="success" [innerHtml]="success"></ngb-alert>
<div *ngIf="check">
    <form name="form" (ngSubmit)="checksForm.form.valid && continue()" #checksForm="ngForm">

        <div class="grey-box d-flex flex-column w-100 justify-content-center mt-5">
            <div class="w-100 d-flex justify-content-start b-bottom-line">
                <span class="text-color p-3" [innerHtml]="'Cheque N° '+check.number"></span>
            </div>


           
            <div id="carouselCheque" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item text-center active">
                        <p class="p-3 text-left">Frente del cheque</p>
                        <img [src]="check.frontImage" class="mw-100 h-auto" width="500" height="222">
                    </div>
                    <div class="carousel-item text-center">
                        <p class="p-3 text-left">Dorso del cheque</p>
                        <img [src]="check.backImage" class="mw-100 h-auto" width="500" height="222">
                    </div>
                </div>
                <a class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="chevronLeft" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" role="button" data-slide="next">
                    <span class="chevronRight" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="d-flex justify-content-center p-3  mb-4">

            </div>

            <!---Formulario Cheques--->
            <div class="tab_container cheques-admin flex-grid-thirds w-100 p-3">

                <!---Columna 1--->
                <div class="col d-flex flex-column align-items-start">
                    <span class="fw-700 mb-3">Datos del cheque</span>

                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="w-100 " placeholder="N° de cuenta" mask="0*"
                            name="accountNumber" [(ngModel)]="check.accountNumber" #accountNumber="ngModel"
                            maxlength="8" minlength="8" required>
                        <span>N° de cuenta</span>
                        <div *ngIf="!accountNumber.pristine && accountNumber.invalid || checksForm.submitted && accountNumber.errors"
                            class="invalid-feedback">
                            <div *ngIf="accountNumber.errors.required">Campo es requerido</div>
                            <div *ngIf="accountNumber.errors.minlength || accountNumber.errors.maxlength">Campo debe
                                tener 8 dígitos</div>
                        </div>
                    </div>

                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="w-100" placeholder="N° de cheque" mask="0*"
                            name="number" [(ngModel)]="check.number" #number="ngModel" maxlength="8" minlength="8"
                            required>
                        <span>N° de cheque</span>

                        <div *ngIf="!number.pristine && number.invalid || checksForm.submitted && number.errors"
                            class="invalid-feedback">
                            <div *ngIf="number.errors.required">Campo es requerido</div>
                            <div *ngIf="number.errors.minlength || number.errors.maxlength">Campo debe tener 8 dígitos
                            </div>
                        </div>
                    </div>

                    <div class="has-float-label date-picker loan-check-field mb-4 w-100">
                        <input class="form-control" readonly placeholder="Fecha de emisión" name="issuanceDate"
                            [(ngModel)]="check.issuanceDate" ngbDatepicker #issuanceDate="ngModel"
                            #issuanceDateD="ngbDatepicker" (click)="issuanceDateD.toggle()" required>
                        <span>Fecha de emisión</span>

                        <div *ngIf="!issuanceDate.pristine && expirationDate.invalid || checksForm.submitted && issuanceDate.errors"
                            class="invalid-feedback">
                            <div *ngIf="issuanceDate.errors.required">Campo es requerido</div>
                        </div>
                    </div>

                    <div class="has-float-label date-picker loan-check-field mb-4 w-100">
                        <input class="form-control" readonly placeholder="Fecha de vencimiento" name="expirationDate"
                            [(ngModel)]="check.expirationDate" ngbDatepicker #expirationDate="ngModel"
                            #expirationDateD="ngbDatepicker" (click)="expirationDateD.toggle()">
                        <span>Fecha de vencimiento</span>
                        <div *ngIf="!expirationDate.pristine && expirationDate.invalid || checksForm.submitted && expirationDate.errors"
                            class="invalid-feedback">
                            <div *ngIf="expirationDate.errors.required">Campo es requerido</div>
                        </div>
                    </div>

                    <div class="has-float-label mb-0 w-100">
                        <input type="text" class="w-100 mb-4" placeholder="Monto" name="amount"
                            [(ngModel)]="check.amount" #amount="ngModel" readonly>
                        <span>Monto</span>
                    </div>

                </div>
                <!---Columna 1--->

                <!---Columna 2--->

                <div class="col d-flex flex-column align-items-start">
                    <!---Columna 2--->
                    <span class="fw-700 mb-3">Datos del banco</span>

                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <ng-select placeholder="Banco" class="custom-select w-100" bindLabel="label"
                            [searchable]="false" [items]="banks" [addTag]="false" name="bank" [(ngModel)]="check.bank"
                            [ngClass]="{'ng-dirty ng-invalid' : checksForm.submitted && bank.errors}" #bank="ngModel"
                            required>
                        </ng-select>
                        <span>Banco</span>
                        <div *ngIf="!bank.pristine && bank.invalid || checksForm.submitted && bank.errors"
                            class="invalid-feedback">
                            <div *ngIf="bank.errors.required">Campo es requerido</div>
                        </div>
                    </div>

                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <ng-select placeholder="Provincia" (change)="getCities($event)" class="custom-select w-100"
                            bindLabel="label" [searchable]="false" [items]="states" [addTag]="false" name="state"
                            [(ngModel)]="check.address.state"
                            [ngClass]="{'ng-dirty ng-invalid' : checksForm.submitted && state.errors}" #state="ngModel"
                            required>
                        </ng-select>
                        <span>Provincia</span>

                        <div *ngIf="!state.pristine && state.invalid || checksForm.submitted && state.errors"
                            class="invalid-feedback">
                            <div *ngIf="state.errors.required">Campo es requerido</div>
                        </div>
                    </div>

                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <ng-select placeholder="Ciudad/Barrio" class="custom-select w-100" bindLabel="label"
                            [searchable]="false" [items]="cities" [addTag]="false" name="city"
                            [(ngModel)]="check.address.city"
                            [ngClass]="{'ng-dirty ng-invalid' : checksForm.submitted && city.errors}" #city="ngModel"
                            required>
                        </ng-select>
                        <span>Ciudad/Barrio</span>

                        <div *ngIf="!city.pristine && city.invalid || checksForm.submitted && city.errors"
                            class="invalid-feedback">
                            <div *ngIf="city.errors.required">Campo es requerido</div>
                        </div>
                    </div>

                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block w-100" placeholder="Dirección" name="address"
                            [(ngModel)]="check.address.addressFull" #address="ngModel" required>
                        <span>Dirección</span>

                        <div *ngIf="!address.pristine && address.invalid || checksForm.submitted && address.errors"
                            class="invalid-feedback">
                            <div *ngIf="address.errors.required">Campo es requerido</div>
                        </div>
                    </div>

                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block w-100" placeholder="Teléfono" name="checkPhone"
                        mask="0*" [(ngModel)]="check.address.phone" #checkPhone="ngModel" required>
                        <span>Teléfono</span>

                        <div *ngIf="!checkPhone.pristine && checkPhone.invalid || checksForm.submitted && checkPhone.errors"
                            class="invalid-feedback">
                            <div *ngIf="checkPhone.errors.required">Campo es requerido</div>
                        </div>
                    </div>


                </div>
                <!---Columna 2--->

                <!---Columna 3--->

                <div class="col d-flex flex-column align-items-start">

                    <span class="fw-700 mb-3">{{check.gender==1?'Datos del firmante':'Datos del endosante'}}</span>

                    <div *ngIf="check.gender==2" class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block w-100 " placeholder="Razón Social" name="bussinessName"
                            [(ngModel)]="check.onwer.bussinessName" #bussinessName="ngModel" required>
                        <span>Razón Social</span>
                        <div *ngIf="!bussinessName.pristine && bussinessName.invalid || checksForm.submitted && bussinessName.errors"
                            class="invalid-feedback">
                            <div *ngIf="bussinessName.errors.required">Campo es requerido</div>
                        </div>
                    </div>
                    <div *ngIf="check.gender==2" class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block  w-100" placeholder="Cuit" name="cuit"
                            [(ngModel)]="check.onwer.cuit" #cuit="ngModel"
                            pattern="\b(20|23|24|27|30|33|34)(\D)?[0-9]{8}(\D)?[0-9]" required>
                        <span>CUIT</span>

                        <div *ngIf="!cuit.pristine && cuit.invalid || checksForm.submitted && cuit.errors"
                            class="invalid-feedback">
                            <div *ngIf="cuit.errors.required">Campo es requerido</div>
                            <div *ngIf="cuit.errors.pattern">CUIT inválido</div>
                        </div>
                    </div>

                    <div *ngIf="check.gender==1" class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block w-100" placeholder="Nombre y Apellido" name="fullName"
                            [(ngModel)]="check.onwer.fullName" #fullName="ngModel" required>
                        <span>Nombre y apellido</span>

                        <div *ngIf="!fullName.pristine && fullName.invalid || checksForm.submitted && fullName.errors"
                            class="invalid-feedback">
                            <div *ngIf="fullName.errors.required">Campo es requerido</div>
                        </div>
                    </div>
                    <div *ngIf="check.gender==2" class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block  w-100" placeholder="Nombre y Apellido" name="fullName"
                            [(ngModel)]="check.onwer.fullName" #fullName="ngModel" required>
                        <span>Nombre y apellido</span>

                        <div *ngIf="!fullName.pristine && fullName.invalid || checksForm.submitted && fullName.errors"
                            class="invalid-feedback">
                            <div *ngIf="fullName.errors.required">Campo es requerido</div>
                        </div>
                    </div>
                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block  w-100" placeholder="DNI" name="documentNumber"
                          mask="0*" [(ngModel)]="check.onwer.documentNumber" #documentNumber="ngModel"
                            required>
                        <span>DNI</span>

                        <div *ngIf="!documentNumber.pristine && documentNumber.invalid || checksForm.submitted && documentNumber.errors"
                            class="invalid-feedback">
                            <div *ngIf="documentNumber.errors.required">Campo es requerido</div>
                        </div>
                    </div>


                    <div *ngIf="check.gender==1" class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block w-100" placeholder="Cuit" name="cuit"
                            [(ngModel)]="check.onwer.cuit" #cuit="ngModel"
                            pattern="\b(20|23|24|27|30|33|34)(\D)?[0-9]{8}(\D)?[0-9]" required>
                        <span>CUIT</span>

                        <div *ngIf="!cuit.pristine && cuit.invalid || checksForm.submitted && cuit.errors"
                            class="invalid-feedback">
                            <div *ngIf="cuit.errors.required">Campo es requerido</div>
                            <div *ngIf="cuit.errors.pattern">CUIT inválido</div>
                        </div>
                    </div>

                    <div *ngIf="check.gender==1" class="has-float-label loan-check-field mb-4 w-100">
                        <span>Correo electrónico</span>
                        <input type="email" class="d-block  w-100" placeholder="Correo electrónico" name="email"
                            [(ngModel)]="check.onwer.email" #email="ngModel" email="true" required>
                        <div *ngIf="!email.pristine && email.invalid || checksForm.submitted && email.errors"
                            class="invalid-feedback">
                            <div *ngIf="email.errors.required">Campo es requerido</div>
                            <div *ngIf="email.errors.email">correo inválido</div>
                        </div>
                    </div>
                    <div class="has-float-label loan-check-field mb-4 w-100">
                        <input type="text" class="d-block  w-100" placeholder="Teléfono" name="phone"
                            mask="0*" [(ngModel)]="check.onwer.phone" #phone="ngModel"  required>
                        <span>Teléfono</span>

                        <div *ngIf="!phone.pristine && phone.invalid || checksForm.submitted && phone.errors"
                            class="invalid-feedback">
                            <div *ngIf="phone.errors.required">Campo es requerido</div>
                        </div>
                    </div>

                </div>
                <!---Columna 3--->
            </div>
        </div>

        <!---Fin del formulario cheques--->

        <div class="grey-box d-flex w-100 justify-content-center mt-5 p-3">
            <input name="comment" [(ngModel)]="check.comments" #comment="ngModel"
                placeholder="Indique el motivo del cambio" type="text"  class="d-block w-75  mb-3" id="input-line" required />
        </div>
        <div *ngIf="!comment.pristine && comment.invalid || checksForm.submitted && comment.errors" class="invalid-feedback">
            <div *ngIf="comment.errors.required">Campo es requerido</div>
        </div>

        <h3 class="mt-4 mb-4 text-color">Historial de cambios</h3>

        <!---Comienzo del grey-box--->
        <div class="grey-box d-flex flex-column w-100">

            <table class="table" *ngIf="checkLogs && checkLogs.length > 0">
                <thead class="border-top-0">
                    <tr>
                        <th scope="col" class="border-top-0">Fecha</th>
                        <th scope="col" class="border-top-0">Usuario</th>
                        <th scope="col" class="border-top-0">Motivo de cambio</th>
                       <!-- <th scope="col" class="border-top-0"></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of checkLogs">
                        <td class="border-top-0" [innerHtml]="log.modificationDate|date:short"></td>
                        <td class="border-top-0" [innerHtml]="log.userUpdate.name"></td>
                        <td class="border-top-0" [innerHtml]="log.comments"></td>
                    <!-- <td><a class="text-color">Ver detalles<i class="fas fa-arrow-right"></i></a></td> -->
                    </tr>
                </tbody>
            </table>
            <p class="text-center p-end" *ngIf="!checkLogs || checkLogs.length == 0">
                No hay más cambios para mostrar.
            </p>
        </div>
        <!---Fin del grey-box--->
        <div class="row-buttons w-100 justify-content-center mt-4">
            <button [routerLink]="[routes.loanadministratorreview.index.href,idLoan]" role="button"
                class="white-button-border mr-2">Volver</button>
            <button type="submit" role="button" class="solid-blue-button mr-2">Guardar</button>
        </div>
    </form>
</div>